<div id="user-signin-dialog" class="user-signin-dialog dialog-overlay" role="dialog" aria-modal="true" aria-labelledby="user-signin-dialog-label" tabindex="-1">
	<div class="dialog" role="document">
		<div class="dialog-header">
			<button class="close close-dialog" title="Закрыть" data-dismiss="dialog"></button>
		</div>
		<div class="dialog-body">
			<div class="tabs">
				<div class="tabs-nav" role="tablist">
					<button id="user-signin-tab-login" class="tabs-tab" role="tab" aria-selected="false" aria-controls="user-signin-panel-login" tabindex="-1">Аторизация</button>
					<button id="user-signin-tab-signup" class="tabs-tab active" role="tab" aria-selected="true" aria-controls="user-signin-panel-signup">Регистрация</button>
				</div>

				<div id="user-signin-panel-login" class="tabs-panel" role="tabpanel" aria-labelledby="user-signin-tab-login" hidden>
					<div class="user-signin-3d-party">
						<h4 class="user-signin-3d-party-heading">Войти через профиль в соцсетях</h4>
						<p class="center"><small>Откроется окно подтверждения авторизации, после этого Вас автоматически вернут на vesbook.ru</small></p>
						<div class="connect-via-providers">
							<a class="connect-via-provider" href=""><img src="img/logo-livejournal.png" alt="Живой журнал"></a>
							<a class="connect-via-provider" href=""><img src="img/logo-mail.ru.png" alt="Mail.ru"></a>
							<a class="connect-via-provider" href=""><img src="img/logo-linkedin.png" alt="LinkedIn"></a>
							<a class="connect-via-provider" href=""><img src="img/logo-blogger.png" alt="Blogger"></a>
							<a class="connect-via-provider" href=""><img src="img/logo-openid.png" alt="OpenId"></a>
						</div>
					</div>

					<form class="user-signin-login-form" action="">
						<h4 class="user-signin-native-heading">Или использовать аккаунт на vesbook.ru</h4>
						<input type="email" name="email" placeholder="Электронная почта">
						<input type="password" name="password" placeholder="Пароль">
						<div class="clearfix">
							<a class="pull-right link-clr-fg-reverse" href="password-recovery.html"><small>Я забыл пароль</small></a>
						</div>
						<button class="btn-frame-12" type="submit">Войти</button>
					</form>
				</div>

				<div id="user-signin-panel-signup" class="tabs-panel" role="tabpanel" aria-labelledby="user-signin-tab-signup">
					<form action="">
						<input type="text" name="fullname" placeholder="Имя Фамилия">
						<input type="email" name="email" placeholder="Электронная почта">
						<div class="marg-v-md checkboxes-prim">
							<p>
								<input type="checkbox" id="user-signin-signup-checkbox-generate-password" name="generate-password"><label for="user-signin-signup-checkbox-generate-password">Сгенерировать пароль и выслать на почту</label>
							</p>
							<p>
								<input type="checkbox" id="user-signin-signup-checkbox-personal-data" name="personal-data"><label for="user-signin-signup-checkbox-personal-data">Согласен на обработку <a href="page-user-agreement.html" target="_blank">персональных данных</a></label>
							</p>
							<p>
								<input type="checkbox" id="user-signin-signup-checkbox-user-agreement" name="user-agreement"><label for="user-signin-signup-checkbox-user-agreement">С <a href="page-user-agreement.html" target="_blank">правилами пользования сайтом</a> ознакомлен</label>
							</p>
						</div>
						<button class="btn-frame-9" type="submit">Зарегистрироваться и войти</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
