.about-us-heading-wrap {height: 40vw;background: url(../img/o.png) no-repeat left center/48.3%;overflow: hidden;background-position: 0% 51%;}

.about-us-heading-wrap h1 {display: flex;align-items: center;justify-content: flex-end;height: 100%;margin: 0;font-family: "Arial", "Helvetica", sans-serif;font-size: 12vw;letter-spacing: 7vw;margin-right: -7vw;text-transform: uppercase;color: #8bb653;user-select: none}

@media(min-width: 1420px) {
    .about-us-heading-wrap {height: 638px}
    .about-us-heading-wrap h1 {font-size: 196.4px;letter-spacing: 85.4px;margin-right: -92.4px;transform: translateY(50px);}
}

.section-about-us-page {display: flex;background: url(../img/foliage.png) no-repeat left center;font-size: 1.12em;line-height: 1.25;}

.about-us-text {margin-left: 4px;margin-right: 10px}

.about-us-intro {margin-left: -10px;margin-right: -10px;margin-bottom: 25px;margin-top: -6px;position: relative;border: 89px solid #8bb653;border-image: url(../img/frame-1.png) 126 142/142px;background: #8bb653;color: #fff;text-align: center}

.about-us-intro p {margin-top: .45em;line-height: 1.25;margin-bottom: 7px;}

.about-us-intro p:first-child {margin-bottom: 0;margin-top: 1em;padding-bottom: 12px;border-bottom: 2px solid}

.about-us-intro-inner {margin: -42px -10px;font-size: 21px;}

.about-us-carousel {position: relative;flex: none;width: 500px;max-width: 100%;margin-bottom: 25px;height: 570px;text-align: center;overflow: hidden}

.about-us-carousel .about-us-carousel-quote {height: 185px;margin: 0;padding: 0;display: flex;flex-direction: column;justify-content: center;border: none;text-align: center;font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;color: #8bb653;font-size: 40px;font-style: normal;font-weight: bold}

.about-us-carousel .slide {position: absolute;left: 0;top: 0;width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: flex-end;align-items: center}

.about-us-carousel .slide:not(.current):not(.previous) {display: none}

.about-us-carousel .slide.previous {transition: 0s 1.75s;visibility: hidden}

.about-us-carousel .slide.previous .about-us-carousel-quote-line {animation: slider-effect-text .4s cubic-bezier(0.7, 0, 1, 0.75) forwards}

.about-us-carousel .slide.previous .about-us-carousel-quote-line:nth-child(1) {animation-delay: .7s}

.about-us-carousel .slide.previous .about-us-carousel-quote-line:nth-child(2) {animation-delay: .9s}

.about-us-carousel .slide.previous .about-us-carousel-quote-line:nth-child(3) {animation-delay: 1.1s}

@keyframes slider-effect-text {
    0% {transform: none}
    100% {transform: translateY(-5em)}
}

.about-us-carousel .slide.current img {visibility: hidden;animation: slider-effect-img 1s 1.75s cubic-bezier(0, 0.7, 0.25, 1) forwards}

@keyframes slider-effect-img {
    0% {visibility: visible;transform: translateY(438px) rotate(30deg)}
    100% {visibility: visible;transform: none}
}

.about-us-carousel .slide.current .about-us-carousel-quote-line {visibility: hidden;animation: slider-effect-text-in .6s cubic-bezier(0, 0.5, 0.25, 1) forwards}

.about-us-carousel .slide.current .about-us-carousel-quote-line:nth-child(1) {animation-delay: 2.625s}

.about-us-carousel .slide.current .about-us-carousel-quote-line:nth-child(2) {animation-delay: 2.825s}

.about-us-carousel .slide.current .about-us-carousel-quote-line:nth-child(3) {animation-delay: 3.025s}

@keyframes slider-effect-text-in {
    0% {visibility: visible;transform: translateX(calc(250px + 50%))}
    100% {visibility: visible;transform: none}
}

.about-us-carousel .slide.current::after {z-index: 2;content: "";position: absolute;left: 0;top: -100%;width: 100%;height: 100%;background: #fff;border-bottom: 4px solid #8bb653;animation: hiding-rule 3.5s forwards;transform-origin: bottom}

@keyframes hiding-rule {
    0% {transform: none}
    15% {transform: translateY(438px)}
    50% {transform: translateY(438px)}
    50.01% {transform: translateY(434px) rotate(180deg)}
    65% {transform: translateY(434px) rotate(180deg);top: -100%;height: 100%}
    65.01% {transform: translateY(438px);transform-origin: bottom;top: 0;width: 100%;left: 0;height: 4px}
    75% {transform: translate(0, 438px) rotate(90deg);width: 132px;left: calc(100% - 4px);transform-origin: bottom left}
    90% {transform: translate(0, 438px) rotate(90deg) scaleY(1)}
    100% {transform: translate(0, 438px) rotate(90deg) scaleY(0);top: 0;width: 132px;left: calc(100% - 4px);height: 4px;transform-origin: bottom left}
}

.about-us-carousel-img {max-width: 100%;margin-bottom: 40px}

@media(max-width: 991px) {
    .section-about-us-page {flex-direction: column;align-items: center;background-position-y: calc(570px + 30em)}
    .about-us-intro {border-width: 100px;border-image-width: 100px}
    .about-us-intro > div {margin: -40px}
}

@media(min-width: 992px) {
    .page-about-us .about-us-text {padding-left: 30px;padding-right: 25px;border-right: 8px solid #8bb653}
    .page-about-us .about-us-carousel {margin-left: 25px;order: 1}
}

/*# sourceMappingURL=about-us.css.map */
