.author-search-form [type=submit] {margin: 0;padding: 0;border: none;cursor: pointer;background: none}

.author-search-form [type=submit]:hover, .author-search-form [type=submit]:focus, .author-search-form [type=submit]:disabled, .author-search-form [type=submit]:active {background: none}

.authors-carousel-image-wrap, .page-authors .btn-cta > span {display: flex;justify-content: center;align-items: center}

.page-authors .btn-cta {position: relative;width: 100%;height: auto;padding: 0;padding-top: 15.2037617555%;text-transform: uppercase;font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-size: 4vw}

@media(min-width: 768px) {
    .page-authors .btn-cta {width: 50%;padding-top: 7.6018808777%;font-size: 2vw}
}

@media screen and (min-width: 1420px) {
    .page-authors .btn-cta {font-size: 24px; letter-spacing: 1.7px;font-weight: 700;margin: 50px 0 25px;width: 48%;}
}

.page-authors .btn-cta > span {position: absolute;left: 0;top: 6px;right: 0;bottom: 0}

@media(min-width: 768px) {
    .page-authors .breadcrumb {float: left}
}

@media(max-width: 991px) {
    .page-authors .section {padding-top: 0}
}

.author-search-cont {grid-area: search}

.author-search-form {display: flex;padding: 7px;background: #8bb653}

.author-search-form input[type=search] {flex: auto;background: #fff;border: none}

.author-search-form [type=submit] {padding: 0 .8em;color: #fff}

.authors-alphabet-cont {display: grid;grid-template-columns: 1fr 25px minmax(250px, 50%);grid-template-rows: auto auto;grid-template-areas: "search search search" "big-a gap abc";grid-row-gap: 50px;clear: both}

@media(min-width: 992px) {
    .authors-alphabet-cont {grid-template-columns: 1fr 150px 48%;grid-template-rows: auto auto;grid-template-areas: "big-a gap search" "big-a abc abc";grid-row-gap: 0}
}

.big-a {grid-area: big-a;align-self: end;width: 100%}

.authors-alphabet-wrap {grid-area: abc;align-self: end;font-size: 1.2rem}

.authors-alphabet-wrap h2 {color: #6e6e6e;margin: .3em 0}

@media(max-width: 767px) {
    .authors-alphabet-wrap h2 {font-size: 4vw}
}

.authors-alphabet {display: flex;flex-wrap: wrap;padding-top: 2.5%;background: #8bb653;font-weight: bold}

@media(max-width: 991px) {
    .authors-alphabet {border-bottom-left-radius: 8px}
    .authors-alphabet a, .authors-alphabet .active {padding: .4em}
}

.authors-alphabet a {text-decoration: none;color: #fff}

.authors-alphabet a:hover, .authors-alphabet a:focus {color: #6e6e6e}

.authors-alphabet .active {color: #6e6e6e}

.authors-carousel-author {align-items: center;padding-top: 5px;padding-bottom: 10px;padding-left: 10px;padding-right: 10px;}

a.authors-carousel-author-link.authors-carousel-author-link {width: 100%;display: flex;flex-direction: column;color: inherit}

.authors-carousel-image-wrap {flex: auto}

.authors-carousel-image-wrap .book-image {width: 100%}

.authors-alphabet-wrap .justify-letters .section-heading-line>span:empty {width: .3em;}

.authors-carousel-cont {margin: 0 -45px;margin-bottom: 15px;}

.authors-carousel-cont .carousel-viewport {padding:  0 15px;margin-right: 20px;}

.authors-carousel-cont .carousel-dense {grid-auto-columns:calc((100% - 205px)/ 6);grid-column-gap: 96.5px;}

.authors-carousel-cont .book-title {font-size: 30px;font-family: 'calibri', sans-serif;text-align: left;line-height: 1;margin-top: 15px;}

.authors-carousel-cont .book-author {font-size: 24px;text-align: left;}

.authors-carousel-cont .carousel-next-btn, .authors-carousel-cont .carousel-prev-btn {margin-bottom: 120px;}

@media (max-width: 1200px) {
    .authors-carousel-cont {margin: 0 -30px 15px;}
    .authors-carousel-cont .carousel-dense {grid-column-gap: 81.5px;}
}

@media (max-width: 991px) {
    .authors-carousel-cont {margin: 0;}
    .authors-carousel-cont .carousel-dense {grid-column-gap: 50px;grid-auto-columns: 30%;}
}

@media (max-width: 768px) {
    .authors-carousel-cont .carousel-dense {grid-column-gap: 15px;grid-auto-columns: 50%;}
    .authors-carousel-cont .carousel-viewport {margin-right: 15px;}
    .authors-carousel-cont .book-title {font-size: 22px;}
    .authors-carousel-cont .book-author {font-size: 18px;}
}

@media(min-width: 992px) {
    .authors-alphabet-wrap {margin-bottom: 4%;margin-left: -8%}
    .authors-alphabet-wrap h2 {margin-left: -16px;padding-left: 5%}
    .authors-alphabet {justify-content: space-between;flex-wrap: nowrap;padding-bottom: 2.5%;padding-left: 3.5%}
}

/*# sourceMappingURL=authors.css.map */
