.author-heading-cont::before, .author-heading-cont::after {content: " ";display: table}

.author-heading-cont::after {clear: both}

@media(min-width: 1200px) {
    .author-questions-cont {scrollbar-color: #8bb653 #fff}
    .author-questions-cont::-webkit-scrollbar {width: 5px}
    .author-questions-cont::-webkit-scrollbar-track {background: #fff}
    .author-questions-cont::-webkit-scrollbar-thumb {background: #8bb653}
    .author-questions-cont::-webkit-scrollbar-button {height: 20px;background: #fff}
}

.page-author .btn-load-more {color: #8bb653}

.page-author .mini-section .carousel-list-item {text-align: left;font-size: 19px;font-weight: 700;justify-content: center;}

.page-author .mini-section .carousel-list-item figure {height: 100%;display: flex;flex-wrap: wrap;align-items: center;}

.author-heading {color: #8bb653;font-size: 5.25rem;margin-bottom: 0;font-family: 'calibri',sans-serif;letter-spacing: 2px;}

.author-heading-cont {margin-bottom: 63px;margin-left: -5px;}

.author-about-content-cont:not(.expanded) .author-about-content {height: 20.7em;overflow: hidden;position: relative}

.author-about-content-cont:not(.expanded) .author-about-content::after {content: "";position: absolute;bottom: 0;left: 0;right: 0;height: 1em;background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white)}

.author-about-content {font-size: 1.625rem;line-height: 1;}

.author-picture {max-width: 300px;max-height: 300px;min-width:300px;border: 7px solid #8bb653;display: block;margin: auto}

.author-about header > div {font-size: 1.5rem;line-height: 1;letter-spacing: .8px;
    a {display: inline-block;}
}

@media(min-width: 768px) {
    .author-picture {float: left;margin-left: 10px;margin-right: 10px}
}

@media(max-width: 991px) {
    .author-author {margin-top: 50px}
    .author-heading-cont {text-align: right;margin-bottom: 50px}
    .author-picture-high {display: none}
    .author-picture-wide {width: 100%;height: auto}
    .author-about {padding-left: 10px;padding-right: 10px}
}

@media(min-width: 992px) {
    .author-heading {white-space: nowrap;line-height: .5;}
    .author-heading-cont {display: inline-block}
    .author-picture-wide {display: none}
    .author-picture-high {flex: none}
    .author-picture {align-self: center;margin: 0 25px 0 90px;}
    .author-author {display: flex;align-items: flex-start;padding-right: 30%;background: url(../img/author-decoration.png) no-repeat right/17%;margin-top: 30px;margin-bottom: 25px;}
}

@media(min-width: 992px) {
    .page-author .has-side-text {min-height: 425px;display: flex;align-items: center}
}

.author-section-quotes {background: url(../img/butterfly.png) no-repeat 0 50%, url(../img/vertical-rule-3.png) no-repeat 100% 50%, #8bb653}


.author-section-media .side-text-left .side-text {left: 0;}

@media(max-width: 991px) {
    .author-section-quotes {background: #8bb653;overflow: hidden}
    .author-section-quotes::before {background: url(../img/butterfly.png) no-repeat 0 55%/auto 38%}
    .author-section-quotes .section-heading {font-size: 12vw}
}

@media(min-width: 992px) {
    .author-section-quotes .has-side-text {padding-right: 283px;padding-left: 275px;}
    .author-section-media .side-text-left {padding-left: 275px;}
    .author-section-media .carousel-list {grid-auto-columns: calc((100% - -21px)/ 3);grid-column-gap: 0;}
    .author-section-media .carousel-list-item {padding-right: 1.7em}
    .author-section-quotes .side-text-left .side-text {left: 0;padding: 30px 0;}
}

.author-section-quotes .author-quote {font-style: italic;}

.author-section-quotes .fa-caret-right:before {background-image: url("../images/arrow-next-white-ico.png")}

.author-section-quotes .fa-caret-left:before {background-image: url("../images/arrow-prev-white-ico.png")}

.author-section-quotes .carousel-prev-btn:hover i:before {background-image: url("../images/arrow-prev-gray-ico.png")}

.author-section-quotes .carousel-next-btn:hover i:before {background-image: url("../images/arrow-next-gray-ico.png")}

.author-quote {margin: .25em 0;padding: 0;border: none;text-align: left;font-size: 1.1875rem;line-height: 1.25;}

.author-quote-cite {text-align: right;font-size: .8125rem;font-weight: 400;font-style: normal;width: 100%;align-self: flex-end;
    cite {font-style: normal;}
}

.author-section-media {background: url(../img/squirrel.png) no-repeat 0 25%}

.author-section-media .section-heading {font-size: 100px;text-align: center}

@media(max-width: 991px) {
    .author-section-media {background-position: 0 10px;background-size: 20%}
    .author-section-media .section-heading {font-size: 10vw;letter-spacing: .5em;text-align: right}
}

.author-section-media .carousel-cont {color: #8bb653}

.author-section-media .carousel-list-item::after {background: #6e6e6e}

.author-section-media .author-quote {font-style: italic}

.author-media-book-title {text-align: right;font-size: .8125rem;font-weight: normal;width: 100%;font-family: 'calibri',sans-serif;align-self: flex-start;}

.author-media-cite {text-align: right;font-size: .8125rem;font-style: normal;width: 100%;font-weight: 400;align-self: flex-end;}

.author-media-cite cite {font-style: normal;}

.author-media-cite > p {margin: .4em 0}

.author-section-books {background: url(../img/feather.png) calc(100% + 11px) 47% no-repeat}

@media(max-width: 991px) {
    .author-section-books {background: none}
    .author-section-books::before {background: url(../img/feather.png) 12vw 53%/auto 50% no-repeat}
}

@media(min-width: 992px) {
    .author-section-books .section-heading {height: 4.3em;margin-left: .5em;}
    .author-section-books .carousel-list {height: 610px}
    .author-section-books .side-text-right .carousel-next-btn, .author-section-books .side-text-right .carousel-prev-btn {margin-top: 0;transform: none;}
    .author-section-books .book-image {width: 190px;max-height: 280px;}
}

@media(min-width: 1200px) {
    .author-section-books {background-position-x: calc(100% - 36px);padding-left: 38px;padding-right: 29px;}
    .author-section-books .side-text-right .carousel-next-btn {transform: none;}
    .author-section-books .side-text-right .carousel-prev-btn {margin-right: -3px;margin-left: 7px;}
}

.author-section-books .side-text {justify-content: center;overflow: visible}

.author-section-books .section-heading {flex: none;font-size: 118px;letter-spacing: 53px;line-height: .8}

@media(max-width: 991px) {
    .author-section-books {background-position: 50% 9vw;background-size: 30%}
    .author-section-books .section-heading {font-size: 10vw}
}

.author-more-books-cont {margin-top: 33px;text-align: center}

@media(min-width: 992px) {
    .author-more-books-cont {padding-right: 380px}
    .author-section-events .section-heading {font-size: 74px;line-height: 1;margin-right: -.45em;}
    .author-section-video .side-text-right {padding-right: 329px;}
    .author-section-video .side-text-right .carousel-next-btn {transform: none;margin-left: 10px;}
    .author-section-video .side-text-right .carousel-next-btn, .author-section-video .side-text-right .carousel-prev-btn {margin-top: 2px;}
}

.author-section-events {background: url(../img/author-events.png) no-repeat 0 50%}

.author-section-events .side-text-left .side-text {left: 0;}

.author-section-events .has-side-text {min-height: 385px;justify-content: flex-end;padding-right: 15px;}

@media(max-width: 991px) {
    .author-section-events {overflow: hidden;background: none}
    .author-section-events::before {background: url(../img/author-events.png) no-repeat 0 55%/auto 54%}
    .author-section-events .section-heading {font-size: 12vw}
}

.author-section-video {background: url(../img/author-video.png) no-repeat 100% 50%;}

.page-author .author-section-video .carousel-list-item {padding: 0 1em 0 .7em;justify-content: flex-start;font-weight: 400;}

.page-author .author-section-video .carousel-list-item p {margin-top: 10px;line-height: 1.15;}

.author-section-video .carousel-cont {margin-top: 20px}

@media(max-width: 991px) {
    .author-section-video {overflow: hidden;background: none}
    .author-section-video::before {background: url(../img/author-video.png) no-repeat 100% 55%/auto 50%}
    .author-section-video .section-heading {font-size: 12vw}
}

.author-section-video .carousel-list-item {text-align: left}

.author-section-video .carousel-prev-btn, .author-section-video .carousel-next-btn {align-self: start}

.author-questions {padding-top: 20px;padding-bottom: 10px;padding-right: 30px;background: #f2f2f2;padding-left: 20px;}

.author-ask-btn {margin-bottom: 20px;font-size: 3rem;font-weight: bold;line-height: 1;letter-spacing: 2px;padding: 4px 22px 14px;}

.author-questions-article {margin-top: 20px;margin-bottom: 20px;display: flex;align-items: flex-start}

.author-question-cont:first-child .author-questions-article {margin-top: 0}

.author-question-cont:last-child .author-questions-article {margin-bottom: 0}

.author-questions-author {margin: 0;font-size: 1rem;font-family: 'calibri',sans-serif;}

.author-questions-question {position: relative}

.author-questions-question::before {content: "";position: absolute;top: 50px;left: 23px;width: 37px;height: calc(100% + 25px - 30px);border-left: solid 1px #b3b3b3;border-bottom: solid 1px #b3b3b3}

.author-questions-image {width: 50px;height: auto;margin-right: 10px}

.author-questions-question-text-cont {background: #8bb653;padding: .1em .7em .24em .6em;}

.author-questions-text {}

.author-questions-answer {margin-left: calc(50px + 10px)}

.author-questions-answer .author-questions-image {float: left;margin-bottom: 10px}

.author-questions-answer .author-questions-text {clear: both;line-height: 1.25;}

.author-questions-answer > div {padding-left: 10px;}

@media(max-width: 991px) {
    .author-section-media .section-heading {text-align: center}
    .author-section-questions .section-heading {font-size: 10vw;text-align: left}
    .author-questions-answer {margin-left: 0}
    .author-ask-btn {float: right}
    .author-questions-question::before {width: 0;height: calc(100% - 30px);}
}

@media(min-width: 992px) {
    .author-section-questions {padding-right: 180px;background: url(../img/cat.png) no-repeat bottom right;padding-top: 60px;}
    .author-section-questions .section-heading {letter-spacing: .25em;line-height: .9;margin-right: -.3em;}
    .author-section-questions .side-text-left .side-text {left: 0;}
    .author-section-questions .side-text-left {padding-left: 319px;}
    .author-section-questions .side-text-left .load-more-wrap {padding: 35px 0 0;}
    .author-questions-cont {max-height: 625px;overflow: auto;padding-right: 23px;position: relative;
        &:after {content: '';position: sticky;width: 100%;left: 0;bottom: 0;height: 25px;display: block;background: 0 0;background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,0,0,.1)),color-stop(100%,rgba(255,255,255,.1)));background: linear-gradient(to top,rgba(255,255,255,.9) 0,rgba(255,255,255,.1) 100%);}
    }
    .author-section-questions .marg-v-md.clear {font-size: 1.875rem;line-height: 1.15;margin: 6px 0 18px;word-spacing: -1px;}
    .author-section-video {padding-left: 57px;padding-right: 52px;}
    .author-section-video .side-text-right .section-heading {font-size: 75px;line-height: .94;margin-left: .5em;padding: 25px 0;}
}



@media (min-width: 1200px) {
    .author-section-questions {padding-right: 220px;}
}

@media (min-width: 1366px) {
    .author-section-questions {padding-right: 387px;}
}

@media(max-width: 768px) {
    .author-heading-cont {text-align: center;}
    .author-heading {font-size: 3rem;}
}

/*# sourceMappingURL=author.css.map */
