.page-become-author .unwrap-right {margin-left: -10px;padding-left: 10px}

.section-become-author-info {background: url(../img/flower-2.png) no-repeat -35px 46%/auto calc(100% - 200px - 1em)}

@media(max-width: 991px) {
    .section-become-author-info {background: none}
    .section-become-author-info::before {background: url(../img/flower-2.png) no-repeat 0 15px/auto 100%}
    .section-become-author-info .section-heading {font-size: 8vw}
}

@media(max-width: 1199px) {
    .section-become-author-info {background-position-x: -70px}
}

.section-become-author-contact {background: url(../img/rose.png) no-repeat 100% 50%}

.section-become-author-contact .side-text {overflow: visible;color: #545454}

.section-become-author-contact .section-heading {font-size: 50px}

.section-become-author-contact .section-heading > span:nth-child(2) {display: block !important}

@media(max-width: 991px) {
    .section-become-author-contact {background: none}
    .section-become-author-contact::before {background: url(../img/rose.png) no-repeat 100% 105%/auto 90%;transform-origin: top left;transform: rotate(-90deg) translateX(-100%)}
    .section-become-author-contact .section-heading {font-size: 8vw}
}

.become-author-form input, .become-author-form label, .become-author-form textarea {display: block}

.become-author-form [type=text], .become-author-form [type=email], .become-author-form [type=tel], .become-author-form textarea {width: 100%}

.become-author-form [type=submit] {justify-self: end}

@media(max-width: 479px) {
    .become-author-form {display: flex;flex-direction: column}
    .become-author-form [type=submit] {align-self: center}
}

@media(max-width: 991px) {
    .become-author-form label {margin-top: 25px}
    .become-author-form [type=submit] {float: right;margin-top: -1.2em;margin-bottom: 2em}
    .become-author-form [type=submit] + p {clear: both}
    #become-author-attachement {float: left}
}

@media(max-width: 479px) {
    .become-author-form [type=submit] {float: none;margin: 25px 0}
    .become-author-form #become-author-attachement {float: none}
}

@media(min-width: 992px) {
    .become-author-form {display: grid;grid-template-columns: 270px 1fr 1fr 1fr;grid-row-gap: 50px}
    .become-author-form label {justify-self: end;align-self: center;margin-right: 25px}
    label[for=become-author-email] {grid-column-start: 1}
    label[for=become-author-message] {align-self: start}
    #become-author-message {grid-column: 2/5;height: 7em}
    #become-author-attachement {grid-column-end: span 2;justify-self: start;align-self: center}
}

/*# sourceMappingURL=become-author.css.map */
