.book-section-description .tabs-tab {margin: 0;padding: 0;border: none;cursor: pointer;background: none}

.book-section-description .tabs-tab:hover, .book-section-description .tabs-tab:focus, .book-section-description .tabs-tab:disabled, .book-section-description .tabs-tab:active {background: none}

.book-book {background: url(../img/book-send-chapter.png) no-repeat 100% calc(100% - 100px)}

.book-book .book-title {border-bottom: 6px solid #8bb653}

.book-gallery {position: relative;max-width: 100%;display: block;margin-left: auto;margin-right: auto}

.book-gallery .swiper-container {width: 100%}

.book-gallery .swiper-wrapper {align-items: center}

.book-gallery .swiper-slide {flex-shrink: 0;display: flex;justify-content: center;align-items: center}

.book-gallery .swiper-slide-image {max-width: 100%;max-height: 100%}

.book-gallery .swiper-button-next {background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23606060'%2F%3E%3C%2Fsvg%3E")}

.book-gallery .swiper-button-prev {background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23606060'%2F%3E%3C%2Fsvg%3E")}

.book-gallery-thumbs-wrap {align-items: flex-start}

.book-gallery-top {width: 100%}

.book-gallery-thumbs {height: 240px;box-sizing: border-box;padding: 15px 0 0;}

.book-gallery-thumbs .swiper-slide {width: auto !important;height: 100%;opacity: .4}

.book-gallery-thumbs .swiper-slide-thumb-active {opacity: 1}

.book-gallery-pagination {position: absolute;bottom: 25px;left: 50%;transform: translate(-50%)}

.book-book .book-title {font-size: 1.562rem;padding-bottom: 10px;font-family: 'calibri',sans-serif;font-weight: 400;line-height: 1;}

.book-main-info .dropdown-toggle {padding: 0}

.book-main-info .dropdown-toggle .fa-share {margin-right: 0}

.book-main-info .dropdown-menu, .book-main-info .dropdown-toggle {width: 9em}

.book-main-info .dropdown-menu {font-size: 1em}

.book-secondary-info {padding-top: 10px;
    .light {font-size: 19px;line-height: 1.25;}
}

.book-annotation {margin-top: 15px;
    h3 {font-family: 'colibri',sans-serif;letter-spacing: -.5px;margin-bottom: 11px;}
}

.book-annotation .btn-load-more {color: #8bb653}

.book-annotation-content {padding-right: 21px;font-size: 19px;line-height: 1.19;
    p {margin-bottom: 10px;position: relative;
        &:before {content: '';
            position: absolute;
            width: 100%;
            left: 0;
            bottom: 0;
            top: 50%;
            display: block;
            background: 0 0;
            background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,0,0,.1)),color-stop(100%,rgba(255,255,255,.1)));
            background: linear-gradient(to top,rgba(255,255,255,.9) 0,rgba(255,255,255,.1) 100%);}
    }
}

.book-buy-ebook {padding: 6px 15px;background: #8bb653}

.book-buy-ebook-heading {font-size: 18px;font-family: 'calibri',sans-serif;font-weight: 400;word-spacing: -.4px;margin: 0 0 3px;}

.book-purchased .book-buy-ebook-heading {font-size: 16px}

.book-buy-ebook-buy-cont {display: flex;justify-content: space-between;padding: 3px 0;border-top: 2px solid #fff;border-bottom: 2px solid #fff}

.book-price {display: block;font-size: 24px;font-weight: bold}

.book-price-old {position: relative;text-decoration: none;color: #6e6e6e}

.book-price-old::after {content: "";position: absolute;top: 50%;left: 0;right: 0;border-top: 1px solid;transform: rotate(-10deg)}

.book-price-discount {font-size: 1.44rem}

.book-buy-btn {width: 5em;max-width: 50%;padding: 0;background: #fff;color: #8bb653;font-weight: bold;line-height: 1.1;max-height: 40px;margin: 6px 0;}

.book-buy-btn:hover, .book-buy-btn:focus {background: #a3c577;color: #fff}

.book-download-heading {margin: auto;padding: 0 .4em;background: #fff;color: #8bb653;font-size: 40px}

.book-ebook-formats-heading {font-size: 13px;font-family: 'calibri',sans-serif;margin-bottom: 1px;margin-top: 3px;}

.book-buy-print {margin-top: 22px;margin-bottom: 0;padding: 0 10px;border: 5px solid #8bb653}

.book-buy-print-heading {padding-bottom: 2px;margin-top: 7px;border-bottom: 2px solid;color: #8bb653;font-size: 20px;font-family: 'calibri',sans-serif;font-weight: 400;word-spacing: -1.1px;margin-bottom: 15px;}

.book-buy-print-stores {text-align: justify;text-align-last: left}

.book-buy-print-link {display: inline-block;vertical-align: middle;margin-bottom: 16px}

.book-buy-print-link > img {display: block}

.book-block-discontinued {padding: 6px 6px;background: #8bb653;align-self: end}

.book-discontinued-subheading {margin: 10px 0;padding: .2em .4em;background: #fff;font-size: 11.5px}

.book-send-chapter .vertical-text {text-align: initial;line-height: 1;font-size: 44px;margin-top: 10px;letter-spacing: 10px;}

.book-send-chapter input {width: 100%;padding: 8px 10px;}

.book-send-chapter-email-label {margin: 30px 0 10px;color: #b3b3b3;font-size: 25px;text-align: center}

.book-book-block .marg-v-sm.font-xs {font-size: 12px;margin: 4px 0;}

.book-book-block .marg-v-sm.font-xs i {font-size: .8rem;}

.book-book-block .btn.btn-primary {padding: 9px 7px;line-height: .1;}
.book-book-block .marg-v-md {font-size: 19px;line-height: 1.15;margin-bottom: 18px;}

.book-read-more {font-size: 19px;
    i {margin-right: 6px;}
}
.book-form button {margin-top: 0;font-size: 25px;}

.page-book .author-section-media {padding-top: 60px;padding-bottom: 60px;}
.page-book .author-section-media .carousel-list-item {padding: 0 1.5em 0 2.2em;}

@media(max-width: 991px) {
    .book-gallery-thumbs {display: none}
    .book-buy-print-link {margin: 10px 10px}
    .book-read-sample {border-bottom: 6px solid #8bb653}
    .book-send-chapter {margin-top: 100px}
    .book-section-description .tabs-tab {width: 50%;font-size: 3vw;}
}

@media(min-width: 480px) and (max-width: 991px) {
    .book-book {display: grid;grid-template-columns: 1fr 1fr}
    .book-book-block {grid-column: 1/3}
    .book-buy-ebook, .book-buy-print {grid-column: span 1;align-self: stretch;margin: 0}
}

@media(min-width: 992px) {
    .book-gallery-pagination {display: none}
    .book-main-info {border-bottom: 6px solid #8bb653}
    .book-book {padding-left: 16.6%;background: url(../img/book-decoration.png) no-repeat 0 50%, url(../img/book-send-chapter.png) no-repeat 100% calc(100% - 200px);display: grid;grid-template-columns: auto 381px 232px;padding-top: 0;padding-bottom: 55px;}
    .book-gallery {overflow: hidden;grid-row: 1/4;border-right: 6px solid #8bb653;padding-right: 25px}
    .book-buy-ebook, .book-buy-print {grid-column: 3}
    .book-send-chapter {grid-area: 3/3}
    .book-main-info, .book-secondary-info {margin-left: 20px}
    .book-secondary-info {grid-area: 2/2/4}
    .book-buy-ebook {align-self: end}
    .book-buy-print {align-self: start}
    .page-book .author-section-media .carousel-list {grid-auto-columns: calc((100% - -10px)/ 3);}
    .page-book .author-section-media {padding-right: 65px;}
    .page-book .author-section-media .author-quote {margin: .5em 0;}
    .book-book .book-title {margin: -5px 0 3px;}
}

.book-section-description .tabs-nav {margin-bottom: 32px;display: flex;white-space: nowrap;overflow: hidden}

.book-section-description .tabs-tab {padding: .4em .8em;font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-weight: bold;text-transform: lowercase;cursor: pointer}

.book-section-description .tabs-tab:first-child {padding-right: .8em;border-right: 6px solid #6e6e6e;padding-left: 0;}

.book-section-description .tabs-tab:last-child {padding-left: .8em}

.book-section-description .tabs-tab.active .light {color: inherit}

.book-section-description .tabs-tab:focus {outline: none;background: #a3c577;color: #fff}

@media(max-width: 40em) {
    .book-section-description .tabs-tab {font-size: 1rem}
}

@media(max-width: 991px) {
    .book-section-description .has-side-text {padding-top: 25px}
    .book-section-description .side-text {display: none}
}

@media(min-width: 992px) {
    .book-section-description .tabs-tab {font-size: 2rem;letter-spacing: .2em}
}

.book-description-accordion p {margin-top: 1em}

.ui-accordion-header .fa-caret-right {margin-left: 12px;transition: .15s}

.ui-accordion-header.ui-state-active {color: #8bb653}

.ui-accordion-header.ui-state-active .fa-caret-right {transform: rotate(90deg) scale(1.2, .8);}

.book-description-section-text {background: #a3c577}

.section-book-reviews .section-heading > .section-heading-line:nth-last-child(2) {display: block !important;letter-spacing: .28em !important}

.section-book-reviews .section-heading > .section-heading-line:nth-last-child(2) > span:empty {display: inline-block;height: .5em}

.section-book-reviews .section-heading > .section-heading-line:nth-last-child(1) {letter-spacing: .28em!important;}

.section-other-books-by-author .section-heading > .section-heading-line > span:empty {display: inline-block;height: .4em}

.book-reviews-controls {display: flex;justify-content: space-between;align-items: center;margin-bottom: 20px;margin-top: 5px;}

.book-reviews-sort {font-size: 1.56rem;border-color: #8bb653;transition-property: box-shadow;max-width: 270px;height: 40px;border-radius: 0;}

.book-reviews-sort:hover, .book-reviews-sort:focus {box-shadow: 0 0 10px #8bb653}


@media(max-width: 767px) {
    .book-reviews-controls {flex-direction: column}
    .book-reviews-add-btn {margin-bottom: 25px}
    .book-reviews-sort {align-self: flex-end}
}

@media(min-width: 768px) {
    .book-reviews-add-btn {order: 1;max-width: 330px;font-size: 24px;}
}

.page-book .section-sm {min-height: 360px}

.books-list-img-xl .book-image-cont {margin-top: 50px;margin-bottom: 50px}

.books-list-img-xl .book-image {width: 210px}

.page-book .books-list-img-xl .book-image {width: 200px;max-height: 280px;}

.section-similar-books {background: url(../img/book-similar-books.png) no-repeat 0 50%}

.page-book .section-sm {min-height: 570px;}

.page-book .section-sm .carousel-list {grid-column-gap: 15px;margin: -52px 0;}

.section-other-books-by-author .side-text-right .carousel-next-btn {transform: none;}


@media(max-width: 991px) {
    .section-similar-books {background: url(../img/book-similar-books.png) no-repeat 0 0/18%}
    .section-similar-books .section-heading {font-size: 12vw}
    .page-book .breadcrumb {margin-bottom: 0;}
}

.section-other-books-by-author {background: url(../img/book-other-by-author.png) no-repeat 100% 50%}

@media(max-width: 991px) {
    .section-other-books-by-author {background: none}
    .section-other-books-by-author::before {background: url(../img/book-other-by-author.png) no-repeat 100% 55%/auto 90%}
    .section-other-books-by-author .section-heading {font-size: 12vw}
}

@media(min-width: 992px) {
    .page-book .has-side-text {min-height: 340px;display: flex;align-items: center}
    .section-book-description {padding-right: 300px;background: url(../img/book-description.png) no-repeat 100% 50%}
    .section-book-reviews::before {content: "";position: absolute;z-index: -1;left: 0;top: calc(50% - 465px);width: 100%;height: 100%;max-height: 929px;background: url(../img/book-reviews.png) no-repeat 0% 50%/contain}
    .page-book .side-text-left .side-text {left: 0;max-height: 950px;}
    .page-book .section-book-reviews .side-text-left .section-heading {font-size: 109px;line-height: .8;margin-right: -.35em;}
    .page-book .book-section-description .load-more-wrap {padding-bottom: 0;}
    .page-book .section-similar-books .has-side-text {min-height: 450px;padding-left: 279px;}
    .page-book .section-other-books-by-author .has-side-text {min-height: 450px;padding-right: 289px;}
    .section-other-books-by-author {padding-left: 55px;}
    .section-other-books-by-author .side-text-right .carousel-next-btn, .section-other-books-by-author .side-text-right .carousel-prev-btn {margin-top: 0;}
    .section-other-books-by-author .side-text-right .section-heading {margin-left: -.2em;}
    .section-books-img-only .section-heading {font-size: 60px;line-height: .9;margin-right: -.35em;}
    .posts-list.reviews-list {max-width: 590px;}
}

.section-book-persons {background: url(../img/book-persons.png) no-repeat 0 50%}

@media(max-width: 991px) {
    .section-book-persons {background: none}
    .section-book-persons::before {background: url(../img/book-persons.png) no-repeat 100% 55%/auto 90%}
}

.book-persons-list {display: flex;flex-wrap: wrap;margin-right: -25px;margin-bottom: -25px}

.book-person {width: -webkit-min-content;width: -moz-min-content;width: min-content;margin-right: 25px;margin-bottom: 25px;padding-right: 10px;display: flex;align-items: flex-start}

@media(min-width: 1200px) {
    .page-book .section-similar-books.section-sm {padding-right: 60px;}
}

@media(min-width: 1420px) {
    .page-book .author-section-media .has-side-text {padding-left: calc(274.5px - .5rem)}
    .book-tab-description.book-tab-description {width: 617px;letter-spacing: 1.8em}
}

/*# sourceMappingURL=book.css.map */
.ui-helper-reset {max-width: 908px;}
.ui-accordion .ui-accordion-header {font-family: 'calibri',sans-serif;font-size: 2.25rem;padding: 10px 0;margin: 0;letter-spacing: -.1px;}
.ui-accordion .ui-accordion-content {margin-top: 14px;padding: 10px 19px;font-size: 1.5rem;letter-spacing: -.1px;line-height: 1.4;
    p {margin: 0;}
}
