.full-cats-toggle, .full-cats-menu-toggle, .catalog-filter-toggle {margin: 0;padding: 0;border: none;cursor: pointer;background: none}

.full-cats-toggle:hover, .full-cats-menu-toggle:hover, .catalog-filter-toggle:hover, .full-cats-toggle:focus, .full-cats-menu-toggle:focus, .catalog-filter-toggle:focus, .full-cats-toggle:disabled, .full-cats-menu-toggle:disabled, .catalog-filter-toggle:disabled, .full-cats-toggle:active, .full-cats-menu-toggle:active, .catalog-filter-toggle:active {background: none}

.full-cats-submenu, .full-cats-menu {list-style: none;margin: 0;padding: 0}

.catalog-best-book-carousel-content ul {list-style: none;margin: 10px 0;}

.catalog-best-book-carousel-content ul > li {position: relative;margin-top: 10px;margin-bottom: 10px;font-size: 20px;}

.catalog-best-book-carousel-content ul > li::before {position: absolute;line-height: 20px;content: "";color: #8bb653;font-family: "Font Awesome 5 Free";font-weight: 900;width: 20px;height: 20px;font-size: 26px;left: -44px;top: 4px;}

.page-catalog .breadcrumb-cont {background: #8bb653}

.page-catalog .breadcrumb li:not(:last-child)::after {color: #fff}

.page-catalog .breadcrumb .active {color: #fff}

.page-catalog .breadcrumb-item > a:hover, .page-catalog .breadcrumb-item > a:focus {color: #fff}

.catalog-header {background: url(../img/catalog-heading.png) no-repeat bottom/contain, #8bb653;height: 0;padding-bottom: 21.5470803706%}

.catalog-cont {display: flex;margin-top: 42px}

.catalog-content {flex: auto;margin-top: 0}

.catalog-content .grid-list {overflow: hidden}

.catalog-content .book-image {width: 160px;}

.catalog-content .book-image-wrap {margin-bottom: -25px;}

.catalog-sidebar {font-size: 1.2rem}

.catalog-filter-toggle {margin-bottom: 10px;color: #8bb653}

.catalog-filter-toggle .fa-caret-right {display: inline-block;vertical-align: middle;margin-left: 3px;transition: .25s}

.catalog-filter-toggle[aria-pressed=true] .fa-caret-right {transform: rotate(90deg)}

.catalog-categories-heading {position: relative;margin-top: 52px;padding: 10px 22px;background: #8bb653;text-transform: uppercase;font-size: 30px;letter-spacing: 8.5px;color: #fff;font-family: 'calibri', sans-serif;margin-bottom: 14px;}

.catalog-categories-heading::before {content: "";position: absolute;top: -48px;left: 7px;right: 0;height: 55px;background: url(../img/snail.png) no-repeat center}

.full-cats-menu-toggle:hover .menu-toggle-bars, .full-cats-menu-toggle:hover .menu-toggle-bars::before, .full-cats-menu-toggle:hover .menu-toggle-bars::after, .full-cats-menu-toggle:focus .menu-toggle-bars, .full-cats-menu-toggle:focus .menu-toggle-bars::before, .full-cats-menu-toggle:focus .menu-toggle-bars::after {background-color: #fff}

.full-cats-menu-toggle[aria-pressed=true] .menu-toggle-bars {background: transparent !important}

.full-cats-menu-toggle[aria-pressed=true] .menu-toggle-bars::before, .full-cats-menu-toggle[aria-pressed=true] .menu-toggle-bars::after {background: #fff}

@media(max-width: 767px) {
    .catalog-sort-cont {display: none}
    .catalog-sort-select {padding: .2em .4em}
    .catalog-sort-list.catalog-sort-list {display: none}
}

@media(max-width: 991px) {
    .catalog-cont {flex-direction: column}
    .catalog-sidebar {order: -1}
    .catalog-filter-cont {overflow: hidden;transition: .25s}
    .catalog-filter-cont:not(.menu-expanded) {height: 0 !important}
    .catalog-categories-heading {display: flex;justify-content: space-between;align-items: center}
    .full-cats-menu {overflow: hidden;transition: .25s}
    .full-cats-menu:not(.menu-expanded) {height: 0 !important}
}

@media(min-width: 992px) {
    .catalog-cont {display: flex}
    .catalog-content {margin-left: 50px}
    .full-cats-menu-toggle {display: none}
    .catalog-sidebar {order: -1;flex: none;width: 220px;padding-bottom: 480px;background: url(../img/catalog-bottom.png) no-repeat bottom}
}

.full-cats-menu .dropdown-menu {position: static}

.full-cats-menu-item {position: relative;display: block;display: grid;grid-template-columns: 1fr 1.5rem;grid-template-rows: auto auto;grid-template-areas: "link toggle" "submenu submenu";padding: 3px 0;border-bottom: 4px solid #d9d9d9}

.full-cats-menu-item:last-child {border-bottom: none}

.full-cats-menu-item.expanded > .full-cats-toggle {transform: rotate(90deg) scale(1.2, 1.2);}

.full-cats-menu .fa-caret-right {font-size: 12px;}

.full-cats-submenu .fa-caret-right:before {background-image: url("../images/arrow-next-white-ico.png");}

.full-cats-menu-item.active-parent {padding-bottom: 0;border-color: transparent}

.full-cats-menu-item.active-parent > .full-cats-menu-link {color: #8bb653}

.full-cats-menu-item.active-parent > .full-cats-toggle {color: #8bb653}

.full-cats-menu-item.active-parent .full-cats-submenu, .full-cats-menu-item.active-parent .full-cats-menu-item {border-color: transparent}

.full-cats-menu-item.active-parent > .full-cats-submenu {background: #8bb653}

.full-cats-menu-item.active-parent > .full-cats-submenu .full-cats-menu-link:not(.active) {color: #212121}

.full-cats-menu-item.active-parent > .full-cats-submenu .full-cats-menu-link:not(.active):hover, .full-cats-menu-item.active-parent > .full-cats-submenu .full-cats-menu-link:not(.active):focus {color: #fff}

.full-cats-menu-item.active-parent > .full-cats-submenu .full-cats-toggle {color: #bbd49b}

.full-cats-menu-item.active-parent > .full-cats-submenu .full-cats-toggle:hover, .full-cats-menu-item.active-parent > .full-cats-submenu .full-cats-toggle:focus {color: #fff}

.full-cats-menu-link {grid-area: link;font-weight: bold;text-decoration: none;color: #545454;font-size: 23px;letter-spacing: .25px;}

.full-cats-menu-link:hover, .full-cats-menu-link:focus {color: #212121}

.full-cats-menu-link.active {color: #fff}

.full-cats-toggle {grid-area: toggle;color: #d9d9d9}

.full-cats-toggle:hover, .full-cats-toggle:focus {color: #212121}

.full-cats-submenu {grid-area: submenu;padding-left: 22px;overflow: hidden;transition: height .25s;border-top: 4px solid #d9d9d9;line-height: 1.25;}

.full-cats-submenu .full-cats-menu-link {font-weight: normal;font-size: 18px;letter-spacing: .5px;}

.full-cats-menu-item:not(.expanded) > .full-cats-submenu {visibility: hidden;height: 0 !important}

.catalog-best-book {margin-top: 55px;margin-bottom: 22px;background: #8bb653}

@media(max-width: 991px) {
    .catalog-best-book {background: #8bb653}
    .catalog-best-book::before {background: url(../img/catalog-week-top.png) no-repeat;}
}

.catalog-best-book-side-text-cont {background: #fff;mix-blend-mode: normal}

.catalog-best-book-side-text-cont .section-heading {font-size: 70px;margin-left: -.54em;}

.catalog-best-book-side-text-cont .side-text .section-heading .section-heading-line>span:empty {width: 0;height: 0;}

.catalog-best-book-info, .catalog-best-book-carousel {flex: 1 1 0}

.catalog-best-book-info .book-image-cont-wrap {min-height: 195px;}

.catalog-best-book-info .load-more-wrap, .catalog-best-book-carousel .load-more-wrap {padding-bottom: 0}

.catalog-best-book-carousel .load-more-wrap {padding-left: 42px;}

.catalog-best-book-info {display: flex;flex-direction: column;background: #fff;padding: 10px 25px;max-width: 270px;}

.catalog-best-book-info .book-image-wrap::before {height: 20px;border-radius: 0;background: #b3b3b3}

.catalog-best-book-info .book-image-wrap::after {left: -20px;right: auto;transform-origin: right;transform: rotateY(-90deg);background: currentColor}

.catalog-best-book-info .book-image {transition: .25s;transform-origin: left;width: 100px;}

.catalog-best-book-info .book-image-cont {margin-bottom: -50px}

.catalog-best-book-info .book-image-cont:hover .book-image, .catalog-best-book-info .book-image-cont:focus .book-image {transform: rotateY(-10deg)}

.catalog-best-book-info .book-image-wrap.book-image-wrap {transform: translate3d(-6px, -47px, 150px) rotateZ(-45deg) rotateX(30deg) rotateY(31deg)}

.book-image-ghost {position: absolute;z-index: -1;top: 0;left: 0;bottom: 0;right: 0;transform-style: preserve-3d;background: #f7f7f7}

@supports (clip-path: polygon(-80px -80px, 80px -80px, 0 100%, -80px 120%, -80px calc(100% + 80px))) {
    .book-image-ghost::before {content: "";position: absolute;top: 0;left: 0;width: 60px;height: 100%;transform-origin: left;transform: translateZ(-20px) skewY(45deg);box-shadow: 0 -5px 40px 0 #000;clip-path: polygon(-80px -80px, 80px -80px, 0 100%, -80px 120%, -80px calc(100% + 80px))}
}

@media(max-width: 479px) {
    .catalog-best-book {overflow: hidden}
    .catalog-best-book-info .book-image-wrap {transform: translate3d(-6px, -75px, 150px) rotateZ(-53deg) rotateX(30deg) rotateY(31deg)}
    .catalog-best-book-info .book-image {width: 100px}
}

.catalog-best-book-description {margin-top: 2px;overflow: hidden;line-height: 1;}

.catalog-best-book-description h3 {font-weight: bold;font-family: 'calibri',sans-serif;font-size: 30px;line-height: 1;margin-bottom: 16px;}

.catalog-best-book-description p {font-size: 20px;
    &:last-child {position: relative;
        &:before {content: '';position: absolute;width: 100%;top: 0;left: 0;bottom: 0;display: block;background: 0 0;background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,0,0,.9)),color-stop(100%,rgba(255,255,255,.4)));background: linear-gradient(to top,rgba(255,255,255,.9) 0,rgba(255,255,255,.4) 100%)}
    }
}

.catalog-best-book-carousel {height: 700px;max-height: calc(100vh - 4rem)}

.catalog-best-book-carousel-slide {height: 100%}

.catalog-best-book-carousel-slide {display: flex;flex-direction: column;padding-left: 20px;padding-right: 20px;}

.catalog-best-book-carousel-slide .btn-load-more {color: #fff}

.catalog-best-book-carousel-header {text-align: center;position: relative;padding-left: 42px;}

//.catalog-best-book-carousel-header img {position: absolute;left: 50%;transform: translateX(-47%);}

.catalog-best-book-carousel-heading {font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-size: 2rem;margin-top: -100px;
    &--about {font-size: 100px;line-height: 1;margin-top: -155px;letter-spacing: 20px;margin-bottom: 0;}
    &--why {font-size: 40px;letter-spacing: 4px;margin-top: -115px;}
    &--for {font-size: 65px;letter-spacing: 9px;margin-top: -130px;margin-bottom: 5px;}
    &--reason {font-size: 38px;letter-spacing: 8px;margin-top: -90px;}
    &--info {font-size: 46px;letter-spacing: 9px;}
    &--key {font-size: 60px;letter-spacing: 9px;}
}

@media (max-width: 1380px) {
    .catalog-best-book-carousel-heading {
        &--about {font-size: 90px;}
    }
}

@media (max-width: 1350px) {
    .catalog-best-book-carousel-heading {
        &--about {font-size: 70px;}
    }
}

@media (min-width: 992px) and (max-width: 1120px) {
    .catalog-best-book-carousel-heading {
        &--about {font-size: 30px;}
        &--why {font-size: 30px;}
        &--for {font-size: 30px;}
        &--reason {font-size: 27px;}
        &--info {font-size: 22px;}
        &--key {font-size: 24px;}
    }
}

@media (max-width: 768px) {
    .catalog-best-book-side-text-cont .section-heading {font-size: 45px;}
    .catalog-best-book-carousel {height: 100%;}
}


@media (max-width: 553px) {
    .catalog-best-book-carousel-heading {
        &--about {font-size: 48px;}
        &--why {font-size: 30px;}
        &--for {font-size: 36px;}
        &--reason {font-size: 30px;}
        &--info {font-size: 26px;}
        &--key {font-size: 30px;}
    }
    .catalog-best-book-side-text-cont .section-heading {font-size: 26px;}
}



.catalog-best-book-carousel-content {overflow: hidden;font-size: 20px;}

.catalog-best-book-carousel-content ul > li::before {background: #fff}

.catalog-best-book-carousel-prev, .catalog-best-book-carousel-next {width: 3em;margin: auto;color: #fff;font-size: 40px;cursor: pointer}

@media(max-width: 991px) {
    .catalog-best-book .has-side-text {padding-top: 10px;}
    .catalog-best-book-side-text-cont {margin: 0 -10px 50px;padding: 0 10px}
    .catalog-best-book-side-text-cont .section-heading {margin-left: 0;}
    .catalog-best-book-info {max-width: none;}
    .catalog-best-book-carousel-header {padding-left: 0;}
    .catalog-best-book-carousel .load-more-wrap {padding-left: 0;}
}

@media(min-width: 992px) {
    .catalog-best-book {margin-left: -25px;padding: 25px 0 25px 25px;}
    .catalog-best-book .has-side-text {height: 725px;padding-right: 244px;}
    .catalog-best-book-side-text-cont {background: url(../img/catalog-week-top.png) no-repeat right, #fff;position: absolute;top: 0;right: 0;width: 270px;height: 100%}
    .catalog-best-book-side-text-cont .side-text {padding-top: 10px;padding-bottom: 10px;mix-blend-mode: normal;color: #fff}
}

@media(min-width: 1420px) {
    .catalog-best-book-carousel-slide {padding-left: 80px;}
    .catalog-best-book-side-text-cont {width: 320px}
}

@media (min-width: 992px) and (max-width: 1290px) {
    .catalog-best-book .has-side-text {padding-right: 120px;}
    .catalog-best-book-side-text-cont .side-text {padding: 0 20px}
}

/*# sourceMappingURL=catalog.css.map */
