.page-contact .breadcrumb-cont .btn-cta.btn-frame-6 {background-size: cover;width: 270px;font-size: 24px;letter-spacing: -.5px;background-image: url("../images/btn-frame-av.png")}

.section-contact-page {background: url(../img/angel.png) no-repeat 100% 20%}

.section-contact-page h1 {position: relative;display: flex;justify-content: center;align-items: center;padding: 5px 0 22px 22px;margin: 0;background: #8bb653;color: #fff;font-family: 'calibri', sans-serif;font-size: 12vw;letter-spacing: .15em;line-height: .85;text-transform: uppercase}

.section-contact-page h1::before {content: "";position: absolute;right: 0;top: 100%;border: 5vw solid transparent;border-right-color: #8bb653;border-top-color: #8bb653}

.section-contact-page h1 [aria-hidden=true] {display: block}

.section-contact-page h2 {font-family: 'calibri',sans-serif;}

.section-contact-page .col h2 {margin-top: 15px;margin-bottom: 8px;letter-spacing: 1px;}

.section-contact-page .col p {font-size: 19px;color: #4c4c4c;letter-spacing: -.2px;margin-bottom: 14px;}

.section-contact-page .col p b {color: #000;}

.section-contact-page h2 .icon-circle {width: 30px;height: 30px;font-size: 16px;margin-right: 5px;}

.contact-page-address {font-size: 19px;margin-bottom: 16px;}

@media(max-width: 991px) {
    .section-contact-page {background-position: 100% calc(125% - 30px)}
}

@media(max-width: 767px) {
    .section-contact-page {padding-bottom: 350px;background-position: 50% calc(100% - 10px);background-size: 200px}
}

@media(min-width: 992px) {
    .section-contact-page {display: flex;align-items: flex-start;padding-right: 320px;padding-bottom: 35px;}
    .section-contact-page h1 {width: 295px;margin-right: 25px;letter-spacing: 7px;}
    .section-contact-page h1::before {border-width: 37px}
    .section-contact-page h1 [aria-hidden=true] span {display: block}
    .section-contact-page h1 [aria-hidden=true] span:first-child {margin-left: -0.04em;letter-spacing: .085em}
    .section-contact-page > div:first-of-type > h2 {margin-top: 3px;margin-bottom: 8px;font-size: 30px;}
    .section-contact-page .col:last-child {padding-left: 30px;}
    .page-contact .breadcrumb-cont .btn-cta.btn-frame-6 {margin: 50px 0 0;}
}

@media(min-width: 1200px) {
    .section-contact-page h1 {font-size: 140px}
}

.map {width: 100%;height: 360px}

/*# sourceMappingURL=contact.css.map */
