.book-description {
    border-bottom: 1px solid #d9d9d9;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
}

.book-rating::before,
.book-rating::after {
    letter-spacing: 7px;
}

.normalize-ls {
    letter-spacing: .78em;
}

.on-the-net-list {
    grid-row-gap: 15px;
}

.section-on-the-net {
    padding-top: 55px;
    padding-bottom: 55px;
}

.section-blogs .section-heading {
    letter-spacing: .42em;
}

.contact-form .form-group {
    position: relative;
}

.contact-form span.error {
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: #ff0000;
}

.contact-form input:focus + label,
.contact-form textarea:focus + label,
.contact-form input.valid + label,
.contact-form textarea.valid + label,
.contact-form input.error + label,
.contact-form textarea.error + label {
    display: none;
}

.subscribe-form {
    position: relative;
}

.subscribe-form span.error {
    position: absolute;
    left: 0;
    top: 94px;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: #ff0000;
}
.book-send-chapter-block {
    position: relative;
    margin-bottom: 10px;
}

.book-send-chapter-block span.error {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
    text-align: center;
    font-size: .7rem;
    color: #ff0000;
}

.news-subscribe-email-cont {
    position: relative;
}

.news-subscribe-email-cont span.error {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: #ff0000;
}

.become-author-block {
    width: 100%;
    position: relative;
}

.become-author-form span.error {
    position: absolute;
    right: 0;
    top: calc(100% + 2px);
    width: 100%;
    text-align: center;
    font-size: .8rem;
    color: #ff0000;
    font-weight: 400;
}

#become-author-message-block {
    grid-column: 2/5;
    height: 7em;
}

#become-author-attachement-block {
    grid-column-end: span 2;
    justify-self: start;
    align-self: center;
}

.pop .dialog {
    padding: 70px 40px 30px;
}

.pop .dialog-header p {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.pop .dialog-header h3 {
    text-align: center;
    font-size: 2em;
}

.pop .dialog-header p:not(:last-of-type) {
    margin-bottom: 1em;
}

.news-list {
    padding-top: 50px;
    padding-bottom: 50px;
}

.news-subscribe-email-label {
    margin-bottom: 4px;
}

.news-subscribe-form .checkbox-label {
    font-size: 28px;
    font-family: "Calibri";
}

.news-subscribe-form .checkbox:checked ~ .checkbox-label {
    color: #fff;
}

.news-subscribe-form .checkbox ~ .checkbox-label::before {
    content: '';
    background: url("../img/checkbox.png") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: -3px;

}

.news-subscribe-form .checkbox:checked ~ .checkbox-label::before {
    content: '';
    background: url("../img/checkbox-check.png") no-repeat center;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: -3px;
}

.unwrap-left.news-article-date {
    margin-top: 0;
}

.news-article .news-article-image {
    width: 100%;
}

.news-article-heading {
    margin: -0.2em 0 0;
    text-transform: uppercase;
    padding: 20px 90px 0 90px;
}

.unwrap-left.news-article-date {
    margin-top: 0;
    letter-spacing: .44em;
    font-family: "calibri", sans-serif;
}
.icon-thumbs-up {
    background: #000;
}

.full-cats-menu-item.expanded > .full-cats-submenu {
    margin-top: 21px;
}

.full-cats-menu-item.expanded > .full-cats-menu-link {
    color: #8bb653;
}

.full-cats-menu-item {
    border-bottom: none;
}
.full-cats-menu-item:not(:last-child) {
    margin-bottom: 5px;
}
.full-cats-submenu {
    border-top: none;
}

.full-cats-submenu {
    background: #8bb653;
}

.full-cats-submenu a {
    color: #000;
}

.full-cats-submenu a:hover {
    color: #fff;
}

.full-cats-menu-item.expanded .full-cats-toggle {
    color: #000;
}

.full-cats-menu-item.expanded .full-cats-submenu a:hover ~ .full-cats-toggle {
    color: #fff;
}

.full-cats-menu-item.expanded  .full-cats-menu-item:first-child {
    margin-top: 15px;
}
.full-cats-menu-item.expanded  .full-cats-menu-item:last-child {
    margin-bottom: 15px;
}

.catalog-best-book-info .book-rating-link {
    border-top: 2px solid #b3b3b3;
}

.catalog-best-book-info .book-short-extended .book-rating {
    margin-top: 1em;
    margin-bottom: 1em;
}

.catalog-best-book-side-text-cont {
    background: url(../img/catalog-week-top.png) no-repeat right,#8bb653;
}

.ui-accordion-header .fa-caret-right {
    transform: rotate(90deg);
    color: #8bb653;
}
.author-heading {
    margin-top: 0;
}

.reviews-list .review-author-image {
    border-radius: 50%;
}

.review-content {
    font-family: "Calibri", sans-serif;
}
.review-author-name {
    font-size: 19px;
    color: #98b55b;
    text-decoration: underline;
    margin-bottom: 7px;
}

.review-author-rez {
    color: #000;
}

.review-author-rez .icon-thumbs-up {
    background: #98b55b;
}

.review-author-rez-text {
    margin-right: 15px;
    font-size: 19px;
    color: #191919;
}

.review-text {
    font-size: 19px;
    line-height: 22px;
    color: #4c4c4c;
    padding-top: 15px;
    margin-bottom: 15px;
}

.review  .post-title-cont {
    margin-bottom: 0;
    font-size: 19px;
    color: #4c4c4c;
}




@media screen and (max-width: 991px) {
    .subscribe-form span.error {
        top: 73px;
    }
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 543px) {
    .news-subscribe-email-cont {
        margin-bottom: 25px;
    }
    .pop .dialog {
        padding: 70px 15px 30px;
    }
    .pop .dialog-header h3 {
        font-size: 1.5em;
    }

    a.review-author {
        white-space: normal;
        height: auto;
    }

    .reviews-list .review-author-image {
        width: 60px;
    }
}

@media screen and (max-width: 400px) {
    .subscribe-to {
        margin: 40px 0 30px;
    }
}

@media screen and (min-width: 1420px) {
    .book-section-description .tabs-nav {
        white-space: normal;
    }

    .book-section-description .tabs-tab:last-child {
        padding-left: .8em;
        font-size: 3rem;
        text-align: left;
        line-height: 1;
        color: #5e5e5e;
        text-decoration: underline;
        text-decoration-color: #8bb653;
    }

    .book-section-description .tabs-tab .light {
        color: #929496;
    }

    .book-section-description .tabs-tab:first-child {
        font-size: 3em;
        text-align: left;
        letter-spacing: .8em;
    }
}

@media screen and (min-width: 1365px) {
    .page-authors .section {
        padding-top: 0;
        padding-bottom: 30px;
    }

    .page-authors .marg-v-lg {
        margin-top: -20px;
    }

    .author-search-cont p {
        font-size: 28px;
        margin-bottom: 50px;
    }
    .author-search-cont h1 {
        font-size: 41px;
    }

    .author-search-form input[type=search] {
        height: 60px;
    }

    .author-search-form [type=submit] {
        padding: 0 1.5em;
    }

    .author-search-form i {
        font-size: 30px;
    }

    .authors-alphabet-wrap {
        margin-bottom: 7%;
    }

    .author-more-books-cont a {
        letter-spacing: .32em;
        text-decoration: none;
        font-size: 42px;
        font-weight: 700;
        font-family: "PT Serif","Minion Pro","Times New Roman",sans-serif;
    }
    .author-more-books-cont a:hover {
        text-decoration: underline;
    }


    .page-author .section#books,
    .page-author .author-section-events {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .author-section-events .heading-prim {
        font-size: 49px;
        margin-top: 0;
        margin-bottom: 40px;
        line-height: 1;
    }

    .page-author .author-events-trainings ul a {
        font-size: 20px;
    }

    .page-author .author-events-trainings ul li:not(:last-child) {
        margin-bottom: 20px;
    }

    .page-author .author-events-trainings .clr-prim {
        font-size: 19px;
    }

    .page-author .author-events-trainings .row-with-divider > div {
        width: 50%;
    }
    .page-author .author-events-trainings .section-heading {
        font-size: 75px;
    }

    .about-us-carousel {
        width: 350px;
    }

    .book-reviews-cont {
        padding-left: 50px;
    }

    .section-book-reviews .book-reviews-add-btn {
        margin-left: 23px;
    }

}

@media screen and (min-width: 992px) {
    .author-picture {
         align-self: normal;
        border: none;
    }

    .author-section-events .section-heading, .author-section-events .mini-section-heading {
        text-transform: none;
    }

    .page-author .author-section-events .row-with-divider-lg .col {
        padding-left: 25px;
        padding-right: 25px;
    }
    .row-with-divider .col:last-child {
        padding-right: 0!important;
    }

    .row-with-divider .col:first-child {
        padding-left: 0!important;
    }

    .page-about-us .about-us-text {
        padding-left: 0;
        padding-right: 60px;
    }

    .review:first-child {
        border-top: 8px solid #8bb653;
    }

}

@media screen and (min-width: 768px) {
    .news-story.carousel-list-item:nth-child(1) .book-description {
        border-bottom: none;
    }

    .news-story.carousel-list-item:nth-child(2n-1) .book-description {
        border-bottom: none;
    }
}


