﻿.subscribe-to input[type=checkbox] {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0}

.news-carousel-list {list-style: none;margin: 0;padding: 0}

.page-home .section {box-sizing: content-box;}

@media(min-width: 992px) {
    .page-home .mini-section {display: flex;align-items: stretch}
    .page-home .section {padding-right: 50px;padding-left: 60px;}
    .section-on-the-net .section-heading, .section-blogs .section-heading {font-size: 90px;letter-spacing: 51px;margin-left: .3em;}
}

.page-home .one-row-carousel {height: 700px}

.page-home .top-nav > li:nth-child(1), .page-home .top-nav > li:nth-child(2), .page-home .top-nav > li:nth-child(3) {flex: none;width: calc((100% - 152px) / 6)}

.section-on-the-net .section-heading, .section-blogs .section-heading {margin-left: -0.1em;line-height: 1;}

.section-most-discussed .book-description, .section-news .book-description {margin-top: 50px}

.section-new-books .book-image, .section-bestsellers .book-image {width: 170px}

.section-reviews .carousel-list-item, .section-blogs .carousel-list-item {padding-bottom: 10px}

.section-reviews .book-description, .section-blogs .book-description {border-bottom: 1px solid #d9d9d9}

.section-reviews .carousel-cont {margin-right: -10px;padding-right: 10px;}

.section-recommended {background: url(../img/side-decoration-1.png) -172px 107%/690px no-repeat}

.section-recommended .carousel-next-btn, .section-recommended .carousel-prev-btn {margin-bottom: 13px;}

@media(max-width: 991px) {
    .section-recommended {background: none}
    .section-recommended::before {background: url("../img/side-decoration-1.png") no-repeat 0 70%/auto 60%}
}

.section-recommended .section-heading > span:first-child {letter-spacing: 22px}

.section-recommended .section-heading > span:last-child {letter-spacing: 42px}

.section-reviews {background: url("../img/key.png") calc(100% - 5px) 58%/auto 49% no-repeat}

@media(min-width: 1200px) {
    .section-reviews {background-position-x: calc(100% - 5px - 45px + 8px)}
}

@media(max-width: 991px) {
    .section-reviews {background: none}
    .section-reviews::before {background: url("../img/key.png") 5.5vw 59%/auto 58% no-repeat}
    .section-reviews .section-heading {font-size: 12vw}
}

.section-reviews .section-heading {color: #8bb653}

.section-reviews .section-heading > span {display: block;letter-spacing: 90px}

.book-review-text {flex: auto;padding: .8em 0;text-align: initial;line-height: 1.4;color: #888888;font-size: 16px;}

a.book-review-author {align-self: center;display: block;width: 100%;padding: .8em 1.5em;border-radius: 4px;text-decoration: none;font-weight: bold;color: #212121}

a.book-review-author .avatar-medium {width: 34px;height: 34px;}

a.book-review-author:hover, a.book-review-author:focus {transform: translateY(-1px);box-shadow: 0 3px 9px rgba(0, 0, 0, .4);color: #212121}

.section-news {background: url("../img/bird.png") no-repeat 0% 25%}

.section-news .section-heading {font-size: 90px;letter-spacing: 50px}

@media(max-width: 991px) {
    .section-news {background-position: 0 -20px;background-size: 30%}
    .section-news .section-heading {font-size: 12vw}
}

.news-cont {display: flex;overflow: hidden}

.news-carousel-list {display: grid;grid-auto-rows: 1fr}

@media(min-width: 768px) {
    .news-story {background: #fff}
    .news-story:first-child {grid-row-start: 1;grid-row-end: 3}
    .news-story:first-child > a {display: flex;flex-direction: column;flex: auto}
    .news-story:first-child .square-image-wrap {padding: 0;flex: auto}
    .news-story:nth-child(odd) {justify-content: flex-end}
    .news-story:nth-child(1):last-child::after, .news-story:nth-child(2):last-child::after, .news-story:nth-child(3):last-child::after, .news-story:nth-child(2):nth-last-child(2)::after {content: none}
    .news-story .book-description {margin-top: 25px}
    .book-description time {font-size: 17px;color: #888888;}
}

.square-image-wrap {overflow: hidden;position: relative;padding-top: 100%}

.news-story .square-image-wrap:hover .square-image, .news-story .square-image-wrap:focus .square-image {transform: scale(1.05)}

.square-image {position: absolute;left: 0;top: 0;width: 100%;height: 100%;min-height:100%;-o-object-fit: cover;object-fit: cover;transition: 1s cubic-bezier(0, 0.5, 0.25, 1);transform-origin: 80% 10%}

.subscribe {background: url("../img/flower.png") calc(100% - 50px) 80%/auto 300px no-repeat, url("../img/vertical-rule-3.png") 0 50% no-repeat, #8bb653}

@media(min-width: 1200px) {
    .subscribe {background-position-x: calc(92% - 5px), 0}
}

.subscribe .section-heading {line-height: 1.8;margin-left: -20px;letter-spacing: 14px}

@media(max-width: 991px) {
    .subscribe {background: #8bb653;overflow: hidden}
    .subscribe::before {width: 90px;height: 150px;padding-top: 0;transform-origin: center;left: 50%;transform: translate(-50%, -15px) rotate(45deg);background: url("../img/flower.png") no-repeat 0 50%/contain}
    .subscribe .side-text {padding: 0}
    .subscribe .mini-section-heading {font-size: 6vw;text-align: center;margin: 25px 0}
    .subscribe .mini-section-heading > span {display: inline-block}
}

@media(min-width: 992px) {
    .subscribe {padding-left: 90px;padding-right: 47px;}
}

.subscribe-form {text-align: center}

.subscribe-form p {line-height: 1.25;color: #49572c;font-size: 22px;}

.subscribe-form input[type=email] {width: calc(100% - 30px);background: none;border: none;border-bottom: 2px solid;padding: 1.5em 3em .8em;text-align: center;font-size: 22px;letter-spacing: 1px;}

.subscribe-form input[type=email]::-webkit-input-placeholder {color: inherit;font-weight: normal}

.subscribe-form input[type=email]::-moz-placeholder {color: inherit;font-weight: normal}

.subscribe-form input[type=email]:-ms-input-placeholder {color: inherit;font-weight: normal}

.subscribe-form input[type=email]:-moz-placeholder {color: inherit;font-weight: normal}

.subscribe-form input[type=submit] {display: inline-flex;margin-top: 13px;font-size: 22px;}

@media(min-width: 992px) {
    .subscribe-form {padding: 2em 5em 1.5em 4em;border-right: 6px solid #fff}
}

.subscribe-to {margin: 14px 15px 37px;}

.subscribe-to input:not(:checked) + label {font-weight: normal; color: #49572c;}

.subscribe-to input:not(:checked) + label::before {content: "";font-family: "Font Awesome 5 Free";font-weight: 900;margin-right: 18px;font-weight: 400;font-size: 19px;}

.subscribe-to input:checked + label {color: #000;font-weight: normal;}

.subscribe-to input:checked + label::before {content: "";font-family: "Font Awesome 5 Free";font-weight: 900;margin-right: 18px;font-weight: 400;font-size: 19px;}

@media(max-width: 991px) {
    .subscribe-to {text-align: left}
    .subscribe-to > div {margin: 3px 0}
}

@media(min-width: 992px) {
    .subscribe-to {display: flex;justify-content: space-between;font-size: 22px;}
    .section-new-books {padding-left: 50px!important;}
}

.section-new-books {background: url("../img/dragonfly.png") calc(100% + 95px) 45% no-repeat;}


@media(min-width: 1200px) {
    .section-new-books {background-position-x: calc(100% + 50px);background-position-y: calc(50% - 100px);}
}

.section-new-books .section-heading {font-size: 100px;letter-spacing: 53px}

@media(max-width: 991px) {
    .section-new-books {background-position: 50% -3vw;background-size: 30%}
    .section-new-books .section-heading {font-size: 10vw}
}

.section-most-discussed {background: url("../img/dandelion.png") no-repeat -45px 50%}

@media(min-width: 1200px) {
    .section-most-discussed {background-position-x: 0}
    .section-most-discussed .carousel-next-btn, .section-most-discussed .carousel-prev-btn {margin-bottom: 22px;}
    .section-most-discussed .two-row-carousel-list {height: 805px;grid-column-gap: 20.2px;}
    .section-most-discussed .book-description {margin-bottom: 35px;margin-top: 30px;}
    .section-most-discussed .side-text-left {padding-left: 299px;}
    .section-most-discussed .section-heading-line {justify-content: space-evenly!important;}
    .section-new-books .carousel-list {grid-auto-columns: calc((100% - 32px)/ 3); grid-column-gap: 27px;}
    .section-new-books .carousel-list-item {padding-left: 0;}
    .section-new-books .side-text-right {padding-right: 327px;}
    .section-new-books .side-text-right .carousel-next-btn, .section-new-books .side-text-right .carousel-prev-btn {margin-top: 0;margin-bottom: 30px;}
}

.section-most-discussed .section-heading > span:first-child {letter-spacing: 72px}

.section-most-discussed .section-heading > span:last-child {letter-spacing: 30px}

@media(max-width: 991px) {
    .section-most-discussed {background-position: 50% 2vw;background-size: 30%}
}

.section-about-us {background: url("../img/ves.png") no-repeat 0% 50%/auto 650px}



.section-about-us .side-text {justify-content: center}

.section-about-us .section-heading {font-size: 140px}

.section-about-us .about-us-text {display: flex;flex-direction: column;text-align: justify;align-items: center;font-family: "PT Serif", serif;}

@media(min-width: 992px) {
    .section-about-us .about-us-text {justify-content: center;max-width: 355px;padding-right: 6em;border-right: 6px solid #8bb653;font-size: 22px;}
    .section-about-us .side-text-left {padding-left: 293px;}
    .section-about-us .about-us-carousel {max-width: 50%;}
}

@media(max-width: 991px) {
    .section-about-us {background-position: 0 calc(100% - 50px);background-size: auto 500px}
    .section-about-us .has-side-text {display: flex;flex-direction: column}
    .section-about-us .section-heading {padding: 0 .8em;font-size: 15vw;margin-top: 5%}
    .section-about-us .about-us-text {order: 1;height: 470px;padding: 170px 1.5em 0 30%}
    .about-us-carousel {align-self: center}
}

.section-on-the-net {background: url("../img/candle.png") calc(95% + 45px) 64% no-repeat, #545454;background-blend-mode: screen;color: #fff}

.section-on-the-net .on-the-net-list .carousel-list-item {padding: 0 1.1em;}

.section-on-the-net .on-the-net-list .carousel-list-item a {padding: 10px; margin: 0 -10px;}

.section-on-the-net .side-text-right .carousel-next-btn, .section-on-the-net .side-text-right .carousel-prev-btn {margin-top: 0;}

@media(min-width: 1200px) {
    .section-on-the-net {background-position-x: 95%; padding-left: 20px!important;padding-right: 20px!important;}
    .section-about-us .about-us-carousel {width: calc(50% + 100px);max-width: 100%;}
}

.section-on-the-net .side-text {letter-spacing: 1em}

.section-on-the-net .carousel-prev-btn, .section-on-the-net .carousel-next-btn {color: #bfbfbf}

.section-on-the-net .carousel-prev-btn:hover, .section-on-the-net .carousel-prev-btn:focus, .section-on-the-net .carousel-next-btn:hover, .section-on-the-net .carousel-next-btn:focus {color: #8bb653}

.section-on-the-net .carousel-prev-btn:disabled, .section-on-the-net .carousel-next-btn:disabled {color: #6e6e6e}

@media(max-width: 991px) {
    .section-on-the-net {background-position: 20px 30px;background-size: auto 50vw}
    .section-on-the-net .side-text {display: flex;justify-content: center;align-items: center;padding-top: calc(50vw + 40px)}
    .section-on-the-net .section-heading {font-size: 8vw;letter-spacing: .6em;top: auto;padding-left: 25vw;bottom: 8vw;transform: none;text-align: left}
}

.on-the-net-list {height: auto;max-height: 760px;grid-row-gap: 40px;padding: .4em .8em;background: none}

.on-the-net-list .carousel-list-item::after {content: none}

.on-the-net-list .carousel-list-item .square-image-wrap {margin-bottom: 25px;overflow: hidden}

.on-the-net-list .carousel-list-item a {display: block;padding: 10px;border-top: 1px solid transparent;border-radius: 4px;color: #fff}

.on-the-net-list .carousel-list-item a:hover, .on-the-net-list .carousel-list-item a:focus {border-color: rgba(255, 255, 255, .3);transform: translateY(-1px);box-shadow: 0 3px 9px rgba(0, 0, 0, .4)}

.on-the-net-list .book-author {color: #ccc}

.section-bestsellers {background: url("../img/hare.png") no-repeat -75px 25%}

.section-bestsellers .carousel-next-btn, .section-bestsellers .carousel-prev-btn {margin-bottom: 28px;}

@media(min-width: 1200px) {
    .section-bestsellers {background-position-x: -30px;background-position-y: 30px;padding-left: 70px!important;padding-right: 55px!important;}
    .section-bestsellers .carousel-list {grid-column-gap: 12.2px;}
}

.section-bestsellers .side-text {color: #8bb653}

.section-bestsellers .section-heading {letter-spacing: 35px;font-size: 130px;line-height: 120px;}

@media(max-width: 991px) {
    .section-bestsellers {background-position: 0 10px;background-size: 20%}
    .section-bestsellers .section-heading {font-size: 10vw;letter-spacing: .5em;text-align: right;transform: translateY(-30%);line-height: normal;}
}

.section-blogs {background: url("../img/pen.png") no-repeat 100% 70%/300px}

.section-blogs .section-heading {color: #545454;letter-spacing: 51px}

.section-blogs .post-title {margin: 10px 0;font-size: 1rem}

.section-blogs .one-row-carousel-list .book-description {margin-top: 25px;}

@media(max-width: 991px) {
    .section-blogs {background-position: 100% 1vw;background-size: 23%}
    .section-blogs .section-heading {letter-spacing: .5em}
}

@media(min-width: 992px) {
    .section-blogs .side-text-right .carousel-next-btn, .section-blogs .side-text-right .carousel-prev-btn {margin-top: 80px;}
    .section-bestsellers .carousel-list {height: 832px;}
}

.section-contact {background: url("../img/letter.png") no-repeat 0% 50%}


@media(max-width: 1199px) {
    .section-contact {background-position-x: -45px}
}

.section-contact .side-text {justify-content: center}

.section-contact .section-heading {font-size: 70px;color: #8bb653;line-height: 1.1;}

.section-contact .side-text-left .side-text {left: 50px;}

.section-contact .section-heading > span:first-child {letter-spacing: 15px}

.section-contact .section-heading > span:last-child {letter-spacing: 10px}

@media(max-width: 991px) {
    .section-contact {background-position: 0 12vw;background-size: 30%}
    .section-contact .side-text {padding-left: 100px}
    .section-contact .section-heading {font-size: 10vw}
    .section-contact .side-text-left .side-text {left: 0;}
}

.contact-form {flex: auto;color: #8bb653}

.contact-form textarea, .contact-form input {width: 100%;padding: .55em 0;background: none;border: none;border-bottom: 2px solid #8bb653;font-size: 22px;}

.contact-form .form-group {position: relative;}

.contact-form label {position: absolute;z-index: 2;bottom: 0;padding: .8em 0;color: #8bb653;transform-origin: top left;transition: .5s;cursor: text;font-size: 1.4rem; font-weight: 400;}

.contact-form label[for=contact-form-message], .contact-form label[for=contact-form-name] {left: 0;}

.contact-form label[for=contact-form-message] {width: 100%;text-align: center;bottom: 10px;}

.contact-form label[for=contact-form-email] {right: 0}

.contact-form #contact-form-message {resize: none;max-height: 45px;padding: 0;}

.contact-form input:focus, .contact-form input:not(:placeholder-shown), .contact-form textarea:focus, .contact-form textarea:not(:placeholder-shown) {outline: none;border-color: #8bb653}

.contact-form input:focus + label, .contact-form input:not(:placeholder-shown) + label, .contact-form textarea:focus + label, .contact-form textarea:not(:placeholder-shown) + label {color: #8bb653;transform: translateY(3em);transition: .15s}

.contact-form .form-bottom {margin-top: 45px;text-align: center}

.contact-form .form-bottom p {font-size: 22px;}

.contact-form button[type=submit] {display: inline-flex;font-size: 22px;}

@media(max-width: 991px) {
    .contact-form input, .contact-form textarea {display: block}
    .contact-form label {width: 100%;text-align: center}
    .contact-form input:focus + label, .contact-form input:not(:placeholder-shown) + label, .contact-form textarea:focus + label, .contact-form textarea:not(:placeholder-shown) + label {display: none;}
}

@media(min-width: 992px) {
    .contact-form {display: grid;grid-template-columns: 1fr 1fr;grid-column-gap: 80px;grid-auto-rows: min-content;padding: 4em 7.5em 1.5em 6em;border-left: 6px solid #8bb653}
    .contact-form .form-group, .contact-form .form-bottom {grid-column: span 2}
    .contact-form .form-group-half {grid-column: span 1}
    .contact-form #contact-form-email {text-align: right}
    .section-contact .side-text-left {padding-left: 326px;}
}

/*# sourceMappingURL=home.css.map */
