.news-other-articles-list {list-style: none;margin: 0;padding: 0}

.news-article {display: flex;flex-direction: column}

.news-article-heading {margin: -0.2em 0 0;text-transform: uppercase}

.news-article-date {margin-top: 3px;margin-bottom: 25px;padding-top: .4em;padding-bottom: .4em;padding-right: 10px;background: #8bb653;color: #fff;text-align: right}

.news-article-image {display: block;margin-left: auto;margin-right: auto;margin-bottom: 20px}

@media(min-width: 480px) {
    .news-article-content {text-align: justify}
}

.news-other-articles-list {display: flex;flex-wrap: wrap;justify-content: space-between;margin-left: -10px;margin-right: -10px}

@media(min-width: 992px) {
    .news-other-articles-list {margin-left: -15px;margin-right: -10px}
    .news-has-sidebar {display: flex;margin-top: 15px;}
    .news-article-content {flex: auto;font-size: 1.15rem;line-height: 1.2;}
    .news-article-content p {margin-bottom: 21px;}
}



.news-other-article {display: block;width: 133px;height: 133px;margin: 10px;position: relative;overflow: hidden;text-decoration: none;background: #474747;color: #fff}

.news-other-article:hover, .news-other-article:focus {transform: translateY(-2px);box-shadow: 0 3px 9px rgba(0, 0, 0, .4)}

.news-other-article.news-other-article-has-image:hover, .news-other-article.news-other-article-has-image:focus {box-shadow: 0 1px 3px rgba(0, 0, 0, .4)}

.news-other-article-image {display: block;width: 100%;height: 100%;object-fit: cover}

.news-other-article-heading {padding: .2em .4em;transition: .15s}

.news-other-article-has-image .news-other-article-heading {position: absolute;top: 100%;left: 0;width: 100%;background: #fff;color: #212121}

.news-other-article-has-image:hover .news-other-article-heading, .news-other-article-has-image:focus .news-other-article-heading {transform: translateY(-100%)}

.news-sidebar-widget {padding-left: 25px;padding-top: 25px;padding-bottom: 25px;background: #8bb653;margin-bottom: 25px}

.news-sidebar-widget:last-child {margin-bottom: 0}

@media(max-width: 991px) {
    .news-sidebar {margin-top: 50px}
}

@media(min-width: 992px) {
    .news-sidebar {flex: none;width: 50%;margin-left: 25px}
}

.news-article .marg-t-md.link-chevrons {margin-top: 37px;margin-bottom: 13px;font-size: 24px;}

.news-article .marg-t-md.link-chevrons .fa-chevron-left {transform: scale(.7, .9)}

.news-article-promo-book {display: flex;align-items: flex-end}

.news-article-promo-book > .item {flex: 1}

.news-article-promo-book > .item > div a {font-size: 1.75rem;margin-left: 25px;display: inline-block;line-height: 1;}

.news-article-promo-book > .item > .marg-b-sm {margin-bottom: 25px;}

.news-article-promo-book-image-wrap {max-width: 50%;}

.news-article-subscribe {background: url(../img/news-article-subscribe.png) no-repeat 100% 233px/53%, #8bb653}

@media(min-width: 768px) and (max-width: 991px) {
    .news-article-subscribe {background-size: auto 70%}
}

.news-article-subscribe .news-subscribe-form {width: -webkit-min-content;width: -moz-min-content;width: min-content;white-space: nowrap}

.news-article-subscribe .news-subscribe-to {margin: 30px 0 15px -5px;font-size: 1.2rem}

.news-article-subscribe .news-subscribe-email-cont {margin: 38px 0 22px}

.page-news-article .news-subscribe-form .btn-frame-14 {margin-right: 0;margin-left: 0;}

.news-article-subscribe-heading {margin: 0;font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-size: 30px;line-height: 1.2;color: #fff}

@media(min-width: 992px) {
    .news-article-subscribe::before {float: right;width: calc(50% - 65px / 2);position: relative;top: 30px;padding-top: 60%;shape-outside: polygon(100% 0, 0 59%, 0 67%, 50% 67%, 60% 100%, 100% 100%)}
    .news-article-subscribe-heading {font-size: 68px;margin-top: -15px;letter-spacing: 1px;}
}

/*# sourceMappingURL=news-article.css.map */

.page-news-article .breadcrumb {margin: 37px 0 15px;}
