.page-news .breadcrumb {margin-bottom: 0;margin-top: 37px;}

.news-header {margin-bottom: 45px}

.news-h-rule {height: 31px;}

.news-header-image {max-width: 100%}

.news-promo-wrap {margin-top: -65px;padding-top: 128px;background: url(../img/news-banner.png) no-repeat top center}

.news-promo-title {margin-top: -33px;margin-bottom: 50px;text-align: center;font-size: 40px;color: #8bb653;font-family: 'calibri',sans-serif;}

.news-promo-content {letter-spacing: .5px;}

.news-promo-content::before {content: "";width: calc(100% - 533px + 150px);height: 70px;float: right;shape-outside: polygon(0 0, 0 15px, 100px 100%, 100% 100%, 100% 0)}

.news-promo-content a {text-decoration: none}

.news-promo-content a.link-clr-fg {font-size: 21px;margin: 0 14px 0 0;}

.news-promo-content a:hover, .news-promo-content a:focus {text-decoration: underline}

.news-links-bottom {margin-top: 30px;}

.news-links-bottom .fa-chevron-right {transform: scale(.7, .8);}

@media(max-width: 533px) {
    .news-promo-wrap {position: relative;z-index: 0;padding-top: 20%;background: none}
    .news-promo-wrap::before {content: "";position: absolute;z-index: -1;left: 0;top: 0;bottom: 0;width: 533px;max-width: 100%;background: url(../img/news-banner.png) no-repeat 0 0/contain}
    .news-promo-title {font-size: 6vw;margin-top: -5px;}
    .news-promo-content::before {width: 25%;height: 50px;shape-outside: polygon(0 0, 0 15%, 75% 100%, 100% 100%, 100% 0)}
}

@media(max-width: 991px) {
    .news-mini-nav-cont {text-align: right}
    .news-header-image {display: block;margin-left: auto;margin-right: auto}
    .news-promo {margin-top: 40px;padding-top: 25px;border-top: 6px solid #8bb653}
    .news-promo-wrap {margin-top: -65px}
}

@media(min-width: 992px) {
    .news-mini-nav-cont {margin: 44px 0 0;}
    .news-mini-nav-cont > ul > li {padding: 33px 15px;font-size: 19px;text-align: center;}
    .news-mini-nav-cont > ul {margin: 0 -40px;justify-content: center;}
    .news-header {display: flex;justify-content: center;margin-top: -16px;}
    .news-header-has-promo > .news-header-image {width: calc(50% - 100px);align-self: center;}
    .news-promo {margin-left: 28px;padding-left: 23px;border-left: 5px solid #8bb653}
    .news-promo-wrap {background-position: 25px 0}
    .news-promo-title {width: 533px;margin-top: -33px;}
    .news-promo-content::before {content: "";width: calc(100% - 533px + 100px);shape-outside: polygon(0 0, 0 15px, 100px 100%, 100% 100%, 100% 0);height: 70px;float: right}
}

@media (min-width: 1200px) {
    .news-mini-nav-cont > ul > li {padding: 33px 32px;}
    .news-mini-nav-cont > ul {margin: 0 -51px 0 -30px;justify-content: space-between;}
    .news-promo-title {margin-left: 30px;}
    .news-header-has-promo>.news-header-image {width: calc(50% - 30px);}
}

.news-list {padding-top: 25px;padding-bottom: 50px}

.news-item-link {outline: none}

.news-item-link {color: inherit;text-decoration: none;display: block;padding: 15px;background: #8bb653}

.news-item-link:hover, .news-item-link:focus {transform: translateY(-2px);box-shadow: 0 7px 21px 2px rgba(0, 0, 0, .5)}

.news-item-category {margin-bottom: 10px;color: #fff;font-size: 1.2rem}

.news-item-image {display: block;width: 100%;-o-object-fit: cover;object-fit: cover}

.news-item-content-cont {padding: .4em .8em 0;background: #fff}

.news-item-heading {margin: 0;padding: .4em .25em;font-size: 1.2rem;font-family: 'calibri',sans-serif;font-weight: 400;line-height: 1;}

.news-item-content {padding: 10px 0}

.news-item-content > p:last-child {margin-bottom: 0}

.news-item-no-image .news-item-content-cont {background: #474747;color: #fff}

@media(max-width: 767px) {
    .news-list-item {margin-bottom: 25px}
}

@media(min-width: 768px) {
    .news-list {display: grid;grid-template-columns: repeat(2, calc((100% - 25px) / 2));grid-auto-rows: 23.7em;gap: 25px}
    .news-item-link {width: 100%;height: 100%;display: flex;flex-direction: column}
    .news-item-inner {flex: auto;display: flex;flex-direction: column;overflow: hidden;position: relative}
    .news-item-category {margin-bottom: 10px;color: #fff;font-size: 2.25rem;letter-spacing: .35px;word-spacing: -.5px;}
    .news-item-image {width: 100%}
    .news-item-content-cont {padding: .4em .8em 0;background: #fff}
    .news-item-heading {font-size: 1.5rem;}
    .news-item-content {padding: 12px 7px;font-size: 1.25rem;line-height: 1;}
    .news-item-no-image {display: flex}
    .news-item-no-image .news-item-content-cont {flex: auto;background: #474747;color: #fff}
}

@media(min-width: 768px) and (max-width: 991px) {
    .news-list-item:nth-child(3n) {grid-column-end: span 2}
    .news-list-item:nth-child(3n).news-item-no-image .news-item-link {padding-left: calc(50% + 22.5px);background: url(../img/news-no-image.png) no-repeat calc(25% - 248px / 4), #8bb653}
    .news-list-item:nth-child(3n) .news-item-content-cont {background: #fff;color: inherit}
    .news-list-item:nth-child(3n).news-item-has-image .news-item-link, .news-list-item:nth-child(3n).news-item-has-image .news-item-inner {flex-direction: row}
    .news-list-item:nth-child(3n).news-item-has-image .news-item-inner {background: #fff;padding: 25px}
    .news-list-item:nth-child(3n).news-item-has-image .news-item-category {writing-mode: vertical-lr;transform: rotate(180deg);margin-bottom: 0;margin-right: 10px}
    .news-list-item:nth-child(3n).news-item-has-image .news-item-image {-o-object-fit: cover;object-fit: cover;width: calc(50% - 25px);height: 100%;margin-right: 25px;align-self: center}
    .news-list-item:nth-child(3n).news-item-has-image .news-item-content-cont {width: calc(50% - 22.5px)}
    .news-item-has-image:not(:nth-child(3n)) .news-item-heading, .news-item-has-image:not(:nth-child(3n)) .news-item-content {left: 0;padding: .4em .8em;background: #fff}
    .news-item-has-image:not(:nth-child(3n)) .news-item-heading {position: absolute;top: 0;width: 100%}
    .news-item-has-image:not(:nth-child(3n)) .news-item-content {position: absolute;bottom: 0;width: 100%}
}

@media(min-width: 992px) {
    .news-list {gap: 44px;}
    .news-item-link {padding: 5px 15px 15px;}
    .news-list {grid-template-columns: repeat(3, calc((100% - 2 * 45px) / 3))}
    .news-list-item:nth-child(8n+3), .news-list-item:nth-child(8n+5) {grid-row-end: span 2}
    .news-list-item:nth-child(8n+3) .news-item-inner, .news-list-item:nth-child(8n+5) .news-item-inner {display: flex;flex-direction: column;align-items: center}
    .news-list-item:nth-child(8n+3) .news-item-image, .news-list-item:nth-child(8n+5) .news-item-image {height: 0;flex: auto}
    .news-list-item:nth-child(8n+4), .news-list-item:nth-child(8n+6) {grid-column-end: span 2}
    .news-list-item:nth-child(8n+4).news-item-no-image .news-item-link, .news-list-item:nth-child(8n+6).news-item-no-image .news-item-link {padding-left: calc(50% + 35.5px);background: url(../img/news-no-image.png) no-repeat calc(25% - 248px / 4), #8bb653}
    .news-list-item:nth-child(8n+4) .news-item-content-cont, .news-list-item:nth-child(8n+6) .news-item-content-cont {background: #fff;color: inherit}
    .news-list-item:nth-child(8n+4).news-item-has-image .news-item-link, .news-list-item:nth-child(8n+4).news-item-has-image .news-item-inner, .news-list-item:nth-child(8n+6).news-item-has-image .news-item-link, .news-list-item:nth-child(8n+6).news-item-has-image .news-item-inner {flex-direction: row;padding-top: 15px;}
    .news-list-item:nth-child(8n+4).news-item-has-image .news-item-inner, .news-list-item:nth-child(8n+6).news-item-has-image .news-item-inner {background: #fff;padding: 55px 40px}
    .news-list-item:nth-child(8n+4).news-item-has-image .news-item-category, .news-list-item:nth-child(8n+6).news-item-has-image .news-item-category {writing-mode: vertical-lr;transform: rotate(180deg);margin-bottom: 0;margin-right: 10px;word-spacing: -1px;}
    .news-list-item:nth-child(8n+4).news-item-has-image .news-item-image, .news-list-item:nth-child(8n+6).news-item-has-image .news-item-image {-o-object-fit: cover;object-fit: cover;width: calc(50% - 25px);height: 100%;margin-right: 25px;align-self: center}
    .news-list-item:nth-child(8n+4).news-item-has-image .news-item-content-cont, .news-list-item:nth-child(8n+6).news-item-has-image .news-item-content-cont {width: calc(50% - 22.5px)}
    .news-list-item:nth-child(8n+1).news-item-has-image .news-item-inner, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-inner, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-inner, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-inner {flex-direction: row}
    .news-list-item:nth-child(8n+1).news-item-has-image .news-item-content-cont, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-content-cont, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-content-cont, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-content-cont {position: absolute;bottom: 0;width: 100%;background: none}
    .news-list-item:nth-child(8n+1).news-item-has-image .news-item-content, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-content, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-content, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-content {position: absolute;bottom: 0;width: 100%;left: 0;padding: .4em .8em;background: #fff;transform: translateY(calc(100% + 11px));transition: .3s cubic-bezier(0.29, 0, 0.33, 1)}
    .news-list-item:nth-child(8n+1).news-item-has-image .news-item-heading, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-heading, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-heading, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-heading {position: absolute;bottom: 0;left: 0;width: 100%;margin: 0;padding: .4em .8em;background: #fff;transition: .4s .05s cubic-bezier(0.29, 0, 0.33, 1)}
    .news-list-item:nth-child(8n+1).news-item-has-image .news-item-link:hover .news-item-heading, .news-list-item:nth-child(8n+1).news-item-has-image .news-item-link:focus .news-item-heading, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-link:hover .news-item-heading, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-link:focus .news-item-heading, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-link:hover .news-item-heading, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-link:focus .news-item-heading, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-link:hover .news-item-heading, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-link:focus .news-item-heading {transition-delay: 0s;transform: translateY(calc(-15.6em + 100%))}
    .news-list-item:nth-child(8n+1).news-item-has-image .news-item-link:hover .news-item-content, .news-list-item:nth-child(8n+1).news-item-has-image .news-item-link:focus .news-item-content, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-link:hover .news-item-content, .news-list-item:nth-child(8n+2).news-item-has-image .news-item-link:focus .news-item-content, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-link:hover .news-item-content, .news-list-item:nth-child(8n+7).news-item-has-image .news-item-link:focus .news-item-content, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-link:hover .news-item-content, .news-list-item:nth-child(8n+8).news-item-has-image .news-item-link:focus .news-item-content {transition-delay: .2s;transform: none}
}

.news-subscribe {background: #8bb653}

.news-subscribe a:not(.dummy) {color: #fff}

.news-subscribe-heading {order: 1;margin: 0;font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-size: 1.44rem;color: #fff}

.news-subscribe-email-cont input {padding: .6em .8em;max-width: 270px;}

.news-subscribe-email-cont {position: relative}

.news-subscribe-email-label {position: absolute;bottom: 100%;left: 0;font-weight: normal;font-size: 1.06rem}

.news-subscribe-form .btn-frame-14 {width: 275px;height: 74px;font-size: 23px;line-height: .1;background-size: cover;font-weight: 400;letter-spacing: .5px;background-image: url("../images/btn-frame-av-white.png")}

.news-subscribe-form .font-italic {margin: 0 5px;margin-top: -15px;font-size: 1.5rem;letter-spacing: -.1px;line-height: 1.15;}

@media(max-width: 991px) {
    .news-subscribe-heading {margin-bottom: 25px;padding-bottom: 25px;border-bottom: solid 6px #fff}
}

@media(min-width: 1200px) {
    .news-subscribe {padding-left: 90px;padding-right: 90px;}
    .news-subscribe-form .btn-frame-14 {margin-right: -15px;}
}

@media(min-width: 480px) {
    .news-subscribe-email-cont {flex: auto;margin-right: 25px}
}

@media(min-width: 992px) {
    .news-subscribe {background: url(../img/news-subscribe.png) no-repeat right, #8bb653;padding-top: 45px;}
    .news-subscribe-heading {width: calc(50% - -4px);flex: none;margin-left: 25px;padding-left: 22px;border-left: solid 5px #fff;display: flex;justify-content: center;align-items: center;font-size: 68px;line-height: 1.2;letter-spacing: 1px;padding-right: 25px;}
    .news-subscribe a:not(.dummy) {margin: 0;margin-left: -5px;margin-right: 21px;font-size: 21px;}
}

/*# sourceMappingURL=news.css.map */
