.personal-heading-subscriptions{padding-top:10vw;padding-bottom:10vw;background:url(../img/personal-subscriptions.png) no-repeat right/contain,#8bb653}.personal-heading-subscriptions [aria-hidden] span:nth-child(1){letter-spacing:.05em}@media(min-width: 1420px){.personal-heading-subscriptions{padding-top:100px;padding-bottom:100px}}.personal-subscriptions .personal-nav{margin-top:0}/*# sourceMappingURL=personal-subscriptions.css.map */
