.promo {display: flex;background: #8bb653;color: #fff}

@media(min-width: 992px) {
    .promo {position: relative;height: 380px;padding: 55px 100px 0;justify-content: space-between;background: 0 0 no-repeat url("../img/promo-left.jpg"), 100% 0 no-repeat url("../img/promo-right.jpg"), #8bb653}
}

@media(min-width: 1200px) {
    .promo {padding-left: 213px;padding-right: 217px}
    .promo::before, .promo::after {content: "";width: 30px;height: 30px;border-radius: 9999px;position: absolute;top: 138px;background: #3b4623}
    .promo::before {left: 138px}
    .promo::after {right: 142px}
}

@media(max-width: 991px) {
    .promo {flex-direction: column;align-items: center;padding: 25px 0}
}

.promo a {color: #fff;text-decoration: none}

.promo-story {width: 350px;max-width: 100%;text-align: center;overflow: hidden}

.promo-story > a:hover .promo-image, .promo-story > a:focus .promo-image {transform: scale(1.05)}

.promo-story > a:hover .promo-title, .promo-story > a:focus .promo-title {transform: scale(1.1) translateY(-60px);box-shadow: 0 2px 5px rgba(0, 0, 0, .5);transition: .5s}

.promo-story > a:hover .promo-description, .promo-story > a:focus .promo-description {transform: translateY(-1.44rem);transition: .65s .15s}

.promo-divider {width: 149px;height: 110px;background: no-repeat url(../img/promo-center.png), #8bb653;margin: 25px 0}

@media(min-width: 992px) {
    .promo-divider {margin: 58px 0 0}
}

.promo-image {transition: 1s cubic-bezier(0.1, 0.63, 0.37, 1);box-shadow: 0 2 5px rgba(0, 0, 0, 0)}

.promo-title {background: #8bb653;margin: 0;padding: 1em .8em .8em;transition: .65s .1s cubic-bezier(0.1, 0.63, 0.37, 1);box-shadow: 0 2px 0 rgba(0, 0, 0, 0);font-size: 18px;letter-spacing: 1.1px;}

.promo-description {transition: .5s;max-width: 265px;margin: 0 auto;line-height: 1.4;font-size: 17px;}

/*# sourceMappingURL=promo.css.map */
