﻿.skip-top-main-link.skip-top-main-link.skip-top-main-link:not(:focus), .rate input, .checkbox, .checkboxes-prim [type=checkbox], .sr-only {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0}

.site-main::before, .clearfix::before, .site-main::after, .clearfix::after {content: " ";display: table}

.site-main::after, .clearfix::after {clear: both}

.post-like-btn, button.scroll-up-btn, .site-header button, .carousel-prev-btn, .carousel-next-btn, .close, .btn-no-style {margin: 0;padding: 0;border: none;cursor: pointer;background: none}

.post-like-btn:hover, button.scroll-up-btn:hover, .site-header button:hover, .carousel-prev-btn:hover, .carousel-next-btn:hover, .close:hover, .btn-no-style:hover, .post-like-btn:focus, button.scroll-up-btn:focus, .site-header button:focus, .carousel-prev-btn:focus, .carousel-next-btn:focus, .close:focus, .btn-no-style:focus, .post-like-btn:disabled, button.scroll-up-btn:disabled, .site-header button:disabled, .carousel-prev-btn:disabled, .carousel-next-btn:disabled, .close:disabled, .btn-no-style:disabled, .post-like-btn:active, button.scroll-up-btn:active, .site-header button:active, .carousel-prev-btn:active, .carousel-next-btn:active, .close:active, .btn-no-style:active {background: none}

.grid-list, .cat-menu, .social-links, .user-area, .top-nav, .mini-nav, .carousel-list, .breadcrumb, .dropdown-menu, nav > ul, .list-no-style {list-style: none;margin: 0;padding: 0}

.heading-no-style {margin: 0;font-weight: normal}

.post-author-name, .hide-text-overflow {overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

.box-arrow-right, .book-attributes, .top-nav a, .user-area a, .site-subtitle, .social-links a, .mini-nav-large > li, .carousel-viewport {display: flex;justify-content: center;align-items: center}

.wrap {position: relative;padding-left: 10px;padding-right: 10px}

@media (min-width: 992px) {
    .wrap {padding-left: 45px;padding-right: 45px}
}

@media (min-width: 1200px) {
    .wrap {padding-left: 95px;padding-right: 95px}
}

@media (max-width: 991px) {
    .unwrap-left, .unwrap-left-line, .article h2 {margin-left: -10px;margin-right: -10px;padding-left: 10px;padding-right: 10px}
}

@media (min-width: 992px) {
    .unwrap-left, .unwrap-left-line, .article h2 {margin-left: -45px;padding-left: 45px}
}

@media (min-width: 1200px) {
    .unwrap-left, .unwrap-left-line, .article h2 {margin-left: -95px;padding-left: 95px}
}

@media (max-width: 991px) {
    .unwrap-right, .unwrap-right-line {margin-left: -10px;margin-right: -10px;padding-left: 10px;padding-right: 10px}
}

@media (min-width: 992px) {
    .unwrap-right, .unwrap-right-line {margin-right: -45px;padding-right: 45px}
}

@media (min-width: 1200px) {
    .unwrap-right, .unwrap-right-line {margin-right: -95px;padding-right: 95px}
}

@media (min-width: 992px) {
    .unwrap-left-line, .article h2 {width: fit-content;padding-right: .8em}
}

@media (min-width: 992px) {
    .unwrap-right-line {width: fit-content;padding-left: 1.5em}
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {font-family: sans-serif;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%}

body {margin: 0}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block}

audio, canvas, progress, video {display: inline-block;vertical-align: baseline}

audio:not([controls]) {display: none;height: 0}

[hidden], template {display: none}

a {background-color: transparent}

a:active, a:hover {outline: 0}

abbr[title] {border-bottom: 1px dotted}

b, strong {font-weight: bold}

dfn {font-style: italic}

h1 {font-size: 2em;margin: .67em 0}

mark {background: #ff0;color: #000}

small {font-size: 80%}

sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline}

sup {top: -0.5em}

sub {bottom: -0.25em}

img {border: 0}

svg:not(:root) {overflow: hidden}

figure {margin: 1em 40px}

hr {-moz-box-sizing: content-box;box-sizing: content-box;height: 0}

pre {overflow: auto}

code, kbd, pre, samp {font-family: monospace, monospace;font-size: 1em}

button, input, optgroup, select, textarea {color: inherit;font: inherit;margin: 0}

button {overflow: visible}

button, select {text-transform: none}

button, html input[type=button], input[type=reset], input[type=submit] {-webkit-appearance: button;cursor: pointer}

button[disabled], html input[disabled] {cursor: default}

button::-moz-focus-inner, input::-moz-focus-inner {border: 0;padding: 0}

input {line-height: normal}

input[type=checkbox], input[type=radio] {box-sizing: border-box;padding: 0}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {height: auto}

input[type=search] {-webkit-appearance: textfield;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {-webkit-appearance: none}

fieldset {border: 1px solid silver;margin: 0 2px;padding: .35em .625em .75em}

legend {border: 0;padding: 0}

textarea {overflow: auto}

optgroup {font-weight: bold}

table {border-collapse: collapse;border-spacing: 0}

td, th {padding: 0}

*, ::before, ::after {box-sizing: border-box}

code, kbd, pre, samp {font-family: "Courier New", monospace}

.hide {display: none !important}

.invisible {visibility: hidden}

.pull-left {float: left}

.pull-right {float: right}

.clear {clear: both}

.i-no-style {font-style: normal}

.font-xs {font-size: .7rem}

.font-sm {font-size: .85rem}

.font-md {font-size: 1rem}

.font-lg {font-size: 1.2rem}

.font-xl {font-size: 1.44rem}

.font-xxl {font-size: 1.7rem}

.font-xxxl {font-size: 2rem}

.font-italic {font-style: italic}

.center-block {display: block;margin-left: auto;margin-right: auto}

/*!
 * Font Awesome Free 5.2.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa, .fas, .far, .fal, .fab {-moz-osx-font-smoothing: grayscale;-webkit-font-smoothing: antialiased;display: inline-block;font-style: normal;font-variant: normal;text-rendering: auto;line-height: 1}

.fa-spin {-webkit-animation: fa-spin 2s infinite linear;animation: fa-spin 2s infinite linear}

@-webkit-keyframes fa-spin {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}

@keyframes fa-spin {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg)}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg)}
}

.fa-arrow-left:before {content: ""}

.fa-bell:before {content: ""}

.fa-book:before {content: ""}

.fa-book-open:before {content: ""}

.fa-calendar:before {content: ""}

.fa-caret-down:before {content: ""}

.fa-caret-left:before {content: "";color: transparent;background: url("../images/arrow-prev-gray-ico.png") center center no-repeat;background-size: contain;}

.fa-caret-right:before {content: "";color: transparent;background: url("../images/arrow-next-gray-ico.png") center center no-repeat;background-size: contain;}

.fa-caret-up:before {content: ""}

.fa-check:before {content: ""}

.fa-chevron-down:before {content: ""}

.fa-chevron-left:before {content: ""}

.fa-chevron-right:before {content: ""}

.fa-chevron-up:before {content: ""}

.fa-cog:before {content: ""}

.fa-comment:before {content: ""}

.fa-edit:before {content: ""}

.fa-ellipsis-h:before {content: ""}

.fa-envelope:before {content: ""}

.fa-eye:before {content: ""}

.fa-eye-slash:before {content: ""}

.fa-facebook-f:before {content: ""}

.fa-facebook-square:before {content: ""}

.fa-heart:before {content: "";color: transparent;background: url("../images/heart-ico.png") center no-repeat;background-size: contain;}

.fa-instagram:before {content: ""}

.fa-map-marker-alt:before {content: ""}

.fa-odnoklassniki-square:before {content: ""}

.fa-paperclip:before {content: ""}

.fa-pen:before {content: ""}

.fa-percent:before {content: ""}

.fa-phone:before {content: ""}

.fa-question:before {content: ""}

.fa-reply:before {content: ""}

.fa-search:before {content: "";color: transparent;background: url("../images/search-ico.png") center no-repeat;background-size: contain;}

.fa-share:before {content: ""}

.fa-share-alt:before {content: ""}

.fa-shopping-cart:before {content: "";color: transparent;background: url("../images/cart-ico.png") center no-repeat;background-size: contain;}

.fa-sign-out-alt:before {content: ""}

.fa-smile:before {content: ""}

.fa-telegram-plane:before {content: ""}

.fa-star:before {content: "";color: transparent;background: url("../images/star-ico.png") 50% 43% no-repeat;}

.fa-thumbs-up:before {content: "";color: transparent;background: url("../images/like-ico.png") 50% 43% no-repeat;}

.fa-times:before {content: ""}

.fa-twitter-square:before {content: ""}

.fa-user:before {content: ""}

.fa-user-circle:before {content: ""}

.fa-user-friends:before {content: ""}

.fa-user-plus:before {content: ""}

.fa-user-times:before {content: ""}

.fa-users:before {content: ""}

.fa-video:before {content: ""}

.fa-vk:before {content: ""}

.fa-volume-up:before {content: ""}

.fa-circle-notch:before {content: ""}

@font-face {
    font-family: "Font Awesome 5 Brands";
    font-style: normal;
    font-weight: normal;
    src: url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot");
    src: url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-brands-400.svg#fontawesome") format("svg")
}

.fab {font-family: "Font Awesome 5 Brands"}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    src: url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot");
    src: url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-regular-400.svg#fontawesome") format("svg")
}

.far {font-family: "Font Awesome 5 Free";font-weight: 400}

@font-face {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 900;
    src: url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot");
    src: url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff2") format("woff2"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.woff") format("woff"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.ttf") format("truetype"), url("https://use.fontawesome.com/releases/v5.1.0/webfonts/fa-solid-900.svg#fontawesome") format("svg")
}

.fa, .fas {font-family: "Font Awesome 5 Free";font-weight: 900}

.swiper-pagination-bullet {background: #6e6e6e;border-radius: 999px;width: 10px;height: 10px;margin: 5px 7px;opacity: 1}

.swiper-pagination-bullet-active {background: #8bb653}

p {margin: 0 0 1em}

blockquote {margin-left: 25px;-webkit-padding-start: 25px;padding-inline-start: 25px;-webkit-border-start: solid 2px #b3b3b3;border-inline-start: solid 2px #b3b3b3;font-style: italic}

@supports not ((-webkit-padding-start: 25px) or (padding-inline-start: 25px)) {
    blockquote {padding-left: 25px}
}

@supports not ((-webkit-border-start: solid 2px #b3b3b3) or (border-inline-start: solid 2px #b3b3b3)) {
    blockquote {border-left: solid 2px #b3b3b3}
}

figure {margin: 0}

small {color: #6e6e6e}

table {border-collapse: collapse}

caption {padding: .8em 1.5em;font-weight: bold;color: #474747}

th, td {padding: .8em 1.5em;border: 1px solid #d9d9d9}

th {background: #e6e6e6}

td {background: #f2f2f2}

ol {-webkit-padding-start: 40px;padding-inline-start: 40px}

@supports not ((-webkit-padding-start: 40px) or (padding-inline-start: 40px)) {
    ol {padding-left: 40px}
}

ul {-webkit-padding-start: 40px;padding-inline-start: 40px}

@supports not ((-webkit-padding-start: 40px) or (padding-inline-start: 40px)) {
    ul {padding-left: 40px}
}

[type=text], [type=search], [type=datetime], [type=date], [type=time], [type=datetime-local], [type=email], [type=URL], [type=password], [type=tel], [type=month], [type=week], [type=number], textarea, select {padding: .4em .8em;background: #fff;border: 1px solid #b3b3b3;outline: none;color: #212121;transition: .15s;transition-property: background, border-color;border-radius: 2px}

[type=text]:-ms-input-placeholder, [type=search]:-ms-input-placeholder, [type=datetime]:-ms-input-placeholder, [type=date]:-ms-input-placeholder, [type=time]:-ms-input-placeholder, [type=datetime-local]:-ms-input-placeholder, [type=email]:-ms-input-placeholder, [type=URL]:-ms-input-placeholder, [type=password]:-ms-input-placeholder, [type=tel]:-ms-input-placeholder, [type=month]:-ms-input-placeholder, [type=week]:-ms-input-placeholder, [type=number]:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {color: #bfbfbf}

[type=text]::-webkit-input-placeholder, [type=search]::-webkit-input-placeholder, [type=datetime]::-webkit-input-placeholder, [type=date]::-webkit-input-placeholder, [type=time]::-webkit-input-placeholder, [type=datetime-local]::-webkit-input-placeholder, [type=email]::-webkit-input-placeholder, [type=URL]::-webkit-input-placeholder, [type=password]::-webkit-input-placeholder, [type=tel]::-webkit-input-placeholder, [type=month]::-webkit-input-placeholder, [type=week]::-webkit-input-placeholder, [type=number]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {color: #bfbfbf}

[type=text]:focus, [type=search]:focus, [type=datetime]:focus, [type=date]:focus, [type=time]:focus, [type=datetime-local]:focus, [type=email]:focus, [type=URL]:focus, [type=password]:focus, [type=tel]:focus, [type=month]:focus, [type=week]:focus, [type=number]:focus, textarea:focus, select:focus {border-color: #8bb653}

.form-bg-prim [type=text], .form-bg-prim [type=search], .form-bg-prim [type=datetime], .form-bg-prim [type=date], .form-bg-prim [type=time], .form-bg-prim [type=datetime-local], .form-bg-prim [type=email], .form-bg-prim [type=URL], .form-bg-prim [type=password], .form-bg-prim [type=tel], .form-bg-prim [type=month], .form-bg-prim [type=week], .form-bg-prim [type=number], .form-bg-prim textarea, .form-bg-prim select {border-color: #8bb653}

.form-bg-prim [type=text]:focus, .form-bg-prim [type=search]:focus, .form-bg-prim [type=datetime]:focus, .form-bg-prim [type=date]:focus, .form-bg-prim [type=time]:focus, .form-bg-prim [type=datetime-local]:focus, .form-bg-prim [type=email]:focus, .form-bg-prim [type=URL]:focus, .form-bg-prim [type=password]:focus, .form-bg-prim [type=tel]:focus, .form-bg-prim [type=month]:focus, .form-bg-prim [type=week]:focus, .form-bg-prim [type=number]:focus, .form-bg-prim textarea:focus, .form-bg-prim select:focus {border-color: #6e6e6e}

[type=radio]:focus, [type=checkbox]:focus, [type=range]:focus, [type=color]:focus, [type=file]:focus {outline: 1px solid #8bb653}

.form-bg-prim [type=radio]:focus, .form-bg-prim [type=checkbox]:focus, .form-bg-prim [type=range]:focus, .form-bg-prim [type=color]:focus, .form-bg-prim [type=file]:focus {outline-color: #6e6e6e}

[type=file]::-webkit-file-upload-button {background: #8bb653;border: none;padding: .4em .8em}

[type=file].clr-reverse::-webkit-file-upload-button {background: #fff;color: #8bb653}

[type=file].file-btn-xs::-webkit-file-upload-button {padding: .2em .4em}

textarea {resize: vertical}

label {font-weight: bold}

fieldset {border: none;margin: 0;padding: 0}

.checkboxes-prim [type=checkbox]:-moz-focusring + label {background: #8bb653}

.checkboxes-prim [type=checkbox]:-moz-focusring + label::before {color: #fff}

.checkboxes-prim [type=checkbox]:focus-visible + label {background: #8bb653}

.checkboxes-prim [type=checkbox]:focus-visible + label::before {color: #fff}

.checkboxes-prim [type=checkbox]:checked+label {color: #8bb653;}

.checkboxes-prim [type=checkbox]:checked + label::before {content: ""; color: #8bb653;line-height: 22px;font-size: 26px;}

.checkboxes-prim label {font-weight: 700;padding-right: 10px;display: flex;font-size: 25px;cursor: pointer;}

.checkboxes-prim label::before {margin-left: -1px;margin-right: 17px;margin-top: 5px;content: "";font-family: "Font Awesome 5 Free";font-weight: 900;color: #fff; border: 1px solid #bebebe;display: inline-block;width: 24px;height: 24px;font-size: 0;}

.checkboxes-prim li {margin-top: 9px;margin-bottom: 12px;}

.checkbox:-moz-focusring + label {background: #fff}

.checkbox:-moz-focusring + label::before {color: #8bb653}

.checkbox:focus-visible + label {background: #fff}

.checkbox:focus-visible + label::before {color: #8bb653}

.checkbox:checked + label::before {content: ""}

.checkbox-label {font-weight: normal;padding-right: 10px}

.checkbox-label::before {margin-left: 3px;margin-right: 10px;content: "";font-family: "Font Awesome 5 Free";font-weight: 900;color: #fff}

.show-password-btn {right: 0;top: 50%;transform: translateY(-50%);padding: .4em .8em;color: #b3b3b3}

.show-password-btn.show-password-btn {position: absolute;width: auto}

.show-password-btn:hover, .show-password-btn:focus {color: #212121}

h1, h2, h3, h4, h5, h6 {font-weight: bold}

h1 {font-family: "pt-serif",serif;font-size: 2rem;margin-top: .8em;margin-bottom: .8em}

h2 {font-family: "pt-serif",serif;font-size: 1.7rem;margin-top: .8em;margin-bottom: .8em}

h3 {font-family: "pt-serif",serif;font-size: 1.44rem;margin-top: .4em;margin-bottom: .4em}

h4 {font-family: "pt-serif",serif;font-size: 1.2rem;margin-top: .4em;margin-bottom: .4em}

h5 {font-family: "pt-serif",serif;font-size: 1rem;margin-top: 0;margin-bottom: 0}

h6 {font-family: "pt-serif", serif;font-size: .85rem;margin-top: 0;margin-bottom: 0}

.heading-prim {color: #8bb653;font-family: "calibri", "Helvetica", "Arial", sans-serif;font-size: 2rem;letter-spacing: 1.5px;}

a, .link {color: #8bb653;transition: .15s;text-decoration: underline;outline: none}

a:hover, a:focus, .link:hover, .link:focus {text-decoration: none}

.section-more-link, .link-reverse {text-decoration: none}

.section-more-link:hover, .section-more-link:focus, .link-reverse:hover, .link-reverse:focus {text-decoration: underline}

.link-clr-fg, .post-edit-btn, .post-title > a {color: #212121;text-decoration: none}

.link-clr-fg:hover, .post-edit-btn:hover, .post-title > a:hover, .link-clr-fg:focus, .post-edit-btn:focus, .post-title > a:focus {color: #8bb653}

.link-clr-fg:hover .icon-circle, .post-edit-btn:hover .icon-circle, .post-title > a:hover .icon-circle, .link-clr-fg:focus .icon-circle, .post-edit-btn:focus .icon-circle, .post-title > a:focus .icon-circle {background: none;color: #8bb653}

.link-clr-fg-danger {color: #212121;text-decoration: none}

.link-clr-fg-danger .icon-circle {background: #d74242;color: #fff}

.link-clr-fg-danger:hover, .link-clr-fg-danger:focus {color: #d74242}

.link-clr-fg-danger:hover .icon-circle, .link-clr-fg-danger:focus .icon-circle {background: none;color: #6e6e6e}

.link-clr-bg {color: #fff}

.link-clr-fg-reverse {color: #212121}

.post-author, .link-emerge-image, .link-emerge {text-decoration: none}

.post-author:hover, .link-emerge-image:hover, .post-author:focus, .link-emerge-image:focus, .link-emerge:hover, .link-emerge:focus {transform: translateY(-1px);border-radius: 4px;box-shadow: 0 3px 9px rgba(0, 0, 0, .4);text-decoration: none;outline: none}

.link-emerge-image {display: inline-block;padding: 10px;margin: -10px}

.link-emerge-image > img {display: block}

.link-undrln-prim {position: relative;text-decoration: none;z-index: 0;color: inherit}

.link-undrln-prim::after {content: "";position: absolute;z-index: -1;bottom: 0;top: 0;left: 0;right: 0;background: #8bb653;transform: scaleY(0.1);transform-origin: bottom;transition: .15s}

.link-undrln-prim:hover {color: #fff}

.link-undrln-prim:hover::after {transform: none}

.link-chevrons {display: inline-flex;align-items: center;color: #545454;text-decoration: none}

.link-chevrons .fa-chevron-left, .link-chevrons .fa-chevron-right {transition: transform .15s;font-size: 26px}

.link-chevrons .fa-chevron-left:last-child, .link-chevrons .fa-chevron-right:last-child {margin-left: -6px}

.link-chevrons:hover, .link-chevrons:focus {color: #8bb653}

.link-chevrons:hover .fa-chevron-left, .link-chevrons:focus .fa-chevron-left {transform: translateX(-5px)}

.link-chevrons:hover .fa-chevron-right, .link-chevrons:focus .fa-chevron-right {transform: translateX(5px)}

button, [type=button], [type=submit], [type=reset], .btn {display: inline-block;padding: .4em .8em;background: #e6e6e6;border: none;outline: none;cursor: pointer;color: #212121;transition: .15s;text-decoration: none}

button:hover, button:focus, [type=button]:hover, [type=button]:focus, [type=submit]:hover, [type=submit]:focus, [type=reset]:hover, [type=reset]:focus, .btn:hover, .btn:focus {background-color: #d9d9d9}

button:active, [type=button]:active, [type=submit]:active, [type=reset]:active, .btn:active {background-color: #f2f2f2}

button:disabled, [type=button]:disabled, [type=submit]:disabled, [type=reset]:disabled, .btn:disabled {background-color: #f2f2f2;color: #bfbfbf}

a[role=button] {cursor: pointer}

.btn-bg {background: #fff}

.btn-bg:hover, .btn-bg:focus {background: #e6e6e6}

.btn-primary {background: #8bb653;border: 2px solid #8bb653;color: #fff}

.btn-primary, .btn-primary.btn-sm {padding: calc(0.4em - 2 * 2px) calc(0.8em - 2 * 2px)}

.btn-primary:hover, .btn-primary:focus {background: none;color: #8bb653}

.btn-fg {background: #474747;color: #fff}

.btn-fg:hover, .btn-fg:focus {background: #616161}

.btn-xs {padding: .2em .4em}

.btn-sm {padding: .4em .8em}

.btn-lg {padding: .8em}

.menu-toggle-bars {position: relative;display: inline-block;vertical-align: middle;width: 17px;background: #fff}

.menu-toggle-bars, .menu-toggle-bars::after, .menu-toggle-bars::before {height: 2px;transition: .15s;border-radius: 1px}

.menu-toggle-bars::after, .menu-toggle-bars::before {content: "";position: absolute;left: 0;top: -6.0104652807px;width: 100%;transform-origin: center left;background: #fff}

.menu-toggle-bars::after {top: 6.0104652807px}

.menu-toggle:hover .menu-toggle-bars, .menu-toggle:hover .menu-toggle-bars::before, .menu-toggle:hover .menu-toggle-bars::after, .menu-toggle:focus .menu-toggle-bars, .menu-toggle:focus .menu-toggle-bars::before, .menu-toggle:focus .menu-toggle-bars::after {background: #8bb653}

.menu-toggle[aria-pressed=true] .menu-toggle-bars {background-color: transparent}

.menu-toggle[aria-pressed=true] .menu-toggle-bars::before {transform: rotate(45deg);background: #8bb653}

.menu-toggle[aria-pressed=true] .menu-toggle-bars::after {transform: rotate(-45deg);background: #8bb653}

.btn-cta {display: block;margin: 25px 0;color: #fff;text-decoration: none}

@media (min-width: 768px) {
    .btn-cta {clear: none;float: right}
}

.btn-frame-15, .btn-frame-14, .btn-frame-13, .btn-frame-12, .btn-frame-11, .btn-frame-10, .btn-frame-9, .btn-frame-8, .btn-frame-7, .btn-frame-6, .btn-frame-4, .btn-frame-3, .btn-frame-2, .btn-frame-5, .btn-frame-1 {display: inline-flex;justify-content: center;align-items: center;max-width: 100%;background-color: initial;background-repeat: no-repeat;background-size: contain;background-position: 0;border: 0;font-size: 20px;color: #fff;text-decoration: none}

.btn-frame-15:hover, .btn-frame-14:hover, .btn-frame-13:hover, .btn-frame-12:hover, .btn-frame-11:hover, .btn-frame-10:hover, .btn-frame-9:hover, .btn-frame-8:hover, .btn-frame-7:hover, .btn-frame-6:hover, .btn-frame-4:hover, .btn-frame-3:hover, .btn-frame-2:hover, .btn-frame-5:hover, .btn-frame-1:hover, .btn-frame-15:focus, .btn-frame-14:focus, .btn-frame-13:focus, .btn-frame-12:focus, .btn-frame-11:focus, .btn-frame-10:focus, .btn-frame-9:focus, .btn-frame-8:focus, .btn-frame-7:focus, .btn-frame-6:focus, .btn-frame-4:focus, .btn-frame-3:focus, .btn-frame-2:focus, .btn-frame-5:focus, .btn-frame-1:focus {background-color: initial;filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.35))}

.btn-frame-1 {width: 367px;height: 78px;color: #8bb653}

.btn-frame-1.btn-frame-1 {background-image: url(../img/btn-frame-1.png)}

.btn-frame-2, .btn-frame-5 {width: 430px;height: 92px}

.btn-frame-2.btn-frame-2, .btn-frame-5 {background-image: url(../img/btn-frame-2.png)}

.btn-frame-3 {width: 429px;height: 92px}

.btn-frame-3.btn-frame-3 {background-image: url(../img/btn-frame-3.png)}

.btn-frame-4 {width: 176px;height: 65px}

.btn-frame-4.btn-frame-4 {background-image: url(../img/btn-frame-4.png)}

.btn-frame-5 {width: 373px;height: 80px}

.btn-frame-6 {width: 232px;height: 76px}

.btn-frame-6.btn-frame-6 {background-image: url(../img/btn-frame-6.png)}

.btn-frame-7 {width: 253px;height: 64px}

.btn-frame-7.btn-frame-7 {background-image: url(../img/btn-frame-2.png);background-position: center;background-size: 296px}

.btn-frame-8 {width: 367px;height: 78px}

.btn-frame-8.btn-frame-8 {background-image: url(../img/btn-frame-8.png)}

.btn-frame-9 {width: 313px;height: 78px}

.btn-frame-9.btn-frame-9 {background-image: url(../img/btn-frame-2.png);background-position: center;background-size: 368px}

.btn-frame-10 {width: 232px;height: 76px}

.btn-frame-10.btn-frame-10 {background-image: url(../img/btn-frame-6.png)}

.btn-frame-11 {width: 357px;height: 47px}

.btn-frame-11.btn-frame-11 {background-image: url(../img/btn-frame-11.png)}

.btn-frame-12 {width: 128px;height: 63px}

.btn-frame-12.btn-frame-12 {background-image: url(../img/btn-frame-12.png)}

.btn-frame-13 {width: 299px;height: 64px}

.btn-frame-13.btn-frame-13 {background-image: url(../img/btn-frame-2.png)}

.btn-frame-14 {width: 212px;height: 77px;color: #8bb653}

.btn-frame-14.btn-frame-14 {background-image: url(../img/btn-frame-14.png)}

.btn-frame-15 {width: 342px;height: 30px;white-space: nowrap;overflow: hidden;font-size: 16px}

.btn-frame-15.btn-frame-15 {background-image: url(../img/btn-frame-15.png)}

.load-more-wrap {text-align: center;padding: 0 0 25px}

.btn-load-more {display: inline-flex;flex-direction: column;padding: 10px;font-size: 1.2rem;color: #fff;text-decoration: none}

.btn-load-more:hover, .btn-load-more:focus {transform: translateY(3px)}

.btn-load-more .fas {height: .5em}

.btn-load-more.loading::before, .btn-load-more.loading::after {display: none}

.btn-load-more.loading .fas:first-child {animation: load-more-btn-arrow-one .6s linear infinite}

.btn-load-more.loading .fas:last-child {animation: load-more-btn-arrow-two .6s linear infinite}

@keyframes load-more-btn-arrow-one {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 1;transform: translateY(0.5em)}
}

@keyframes load-more-btn-arrow-two {
    0% {opacity: 1}
    50% {opacity: 1}
    100% {opacity: 0;transform: translateY(0.5em)}
}

.popup-btn-primary:hover, .popup-btn-primary:focus {background: #a3c577}

.popup-btn-primary:hover::before, .popup-btn-primary:focus::before {border-right-color: #a3c577;border-top-color: #a3c577}

.popup-btn-dangerous:hover, .popup-btn-dangerous:focus {background: #d74242}

.popup-btn-dangerous:hover::before, .popup-btn-dangerous:focus::before {border-right-color: #d74242;border-top-color: #d74242}

.add-to-fav-btn {padding: .05em .4em}

.add-to-fav-btn.added {background: #8bb653;color: #fff}

.add-to-fav-btn.added .icon-circle {color: #fff}

.has-tooltip {position: relative}

.has-tooltip::before, .has-tooltip::after {position: relative;z-index: 500}

.has-tooltip::after {content: attr(aria-label);visibility: hidden;opacity: 0;position: absolute;padding: .4em .8em;white-space: nowrap;background: #3b3b3b;border-radius: 5px;color: #fff;transition: .15s 0s;text-align: center;text-decoration: none;text-shadow: none;text-transform: none;letter-spacing: normal;word-wrap: break-word;white-space: pre;pointer-events: none;font: normal 0.85rem/normal "calibri", "Helvetica", "Arial", sans-serif}

.has-tooltip::before {content: "";visibility: hidden;opacity: 0;position: absolute;z-index: 9999;width: 0;height: 0;transition: .15s 0s;border: 6px solid transparent;pointer-events: none}

.has-tooltip:hover::after, .has-tooltip:hover::before, .has-tooltip:focus::after, .has-tooltip:focus::before, .has-tooltip.tooltip-open::after, .has-tooltip.tooltip-open::before {visibility: visible;opacity: 1;transition-delay: .3s}

.has-tooltip::after {left: 50%;bottom: -9px;-webkit-transform: translate(-50%, 100%) translateY(-8px);transform: translate(-50%, 100%) translateY(-8px)}

.has-tooltip::before {left: 50%;bottom: -9px;-webkit-transform: translate(-50%, 0) translateY(-8px);transform: translate(-50%, 0) translateY(-8px);border-color: transparent;border-bottom-color: #3b3b3b}

.has-tooltip:hover::after, .has-tooltip:focus::after, .has-tooltip.tooltip-open::after {-webkit-transform: translate(-50%, 100%);transform: translate(-50%, 100%)}

.has-tooltip:hover::before, .has-tooltip:focus::before, .has-tooltip.tooltip-open::before {-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0)}

.has-tooltip.tooltip-n::after {left: 50%;top: -9px;bottom: auto;-webkit-transform: translate(-50%, -100%);transform: translate(-50%, -100%)}

.has-tooltip.tooltip-n::before {left: 50%;top: -9px;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);border-color: transparent;border-top-color: #3b3b3b}

.has-tooltip.tooltip-sw::after {left: auto;right: 0;bottom: -9px;-webkit-transform: translate(0, 100%);transform: translate(0, 100%)}

.has-tooltip.tooltip-sw::before {left: 50%;bottom: -9px;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);border-color: transparent;border-bottom-color: #3b3b3b}

.has-tooltip.tooltip-nw::after {left: auto;right: 0;top: -9px;bottom: auto;-webkit-transform: translate(0, -100%);transform: translate(0, -100%)}

.has-tooltip.tooltip-nw::before {left: 50%;top: -9px;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);border-color: transparent;border-top-color: #3b3b3b}

.has-tooltip.tooltip-delayed:hover::after, .has-tooltip.tooltip-delayed:hover::before, .has-tooltip.tooltip-delayed:focus::after, .has-tooltip.tooltip-delayed:focus::before, .has-tooltip.tooltip-delayed.tooltip-open::after, .has-tooltip.tooltip-delayed.tooltip-open::before {transition-delay: 1s}

.tooltip-source-data::after {content: attr(data-label)}

.dialog-overlay {position: fixed;z-index: 400;left: 0;top: 0;bottom: 0;right: 0;overflow-x: hidden;overflow-y: auto;background: rgba(224, 235, 208, .7);visibility: hidden;opacity: 0;transition: .25s;outline: none}

.dialog-overlay.open {visibility: visible;opacity: 1}

.dialog {position: relative;margin: 30px auto;max-width: 45em;padding: 65px 40px 65px;transition: 0s .25s;background: url(../img/dialog-top.png) no-repeat top center, url(../img/dialog-bottom.png) no-repeat bottom center, #8bb653;box-shadow: 0 11px 30px 3px rgba(0, 0, 0, .6)}

.dialog-header, .dialog-body, .dialog-footer {padding: 10px}

.dialog-header {padding-left: 0;padding-right: 0;color: #fff}

.dialog-footer {color: #fff}

.dialog-body {background: #fff}

.dialog-body label {font-weight: normal}

.dialog-heading {margin-top: 0;margin-bottom: 0;font-size: 2rem}

.close {position: absolute;top: 10px;right: 10px;color: #fff;padding: .2em .4em;font-weight: bold}

.close:hover, .close:focus {color: #212121}

.close::before {content: "×";font-size: 35px}

.dialog-footer {text-align: right}

.dialog-footer > button {margin-right: 25px}

html.dialog-open {overflow: hidden}

@media (max-width: 767px) {
    .dialog {width: 100%;max-width: initial;padding-left: 10px;padding-right: 10px}
}

@media (min-width: 992px) {
    .dialog-header, .dialog-body, .dialog-footer {padding: .8em 1.5em}
}

.dropdown {position: relative;display: inline-block}

.dropdown-menu {display: none;position: absolute;z-index: 100;left: 0;top: 100%;margin-top: 3px;background: #fff;line-height: normal;font-size: 1rem}

.dropdown.open > .dropdown-menu {display: block}

.dropdown-item {display: block;min-width: 100%;background: none;color: #3b3b3b;text-decoration: none;padding: .8em 1.5em;white-space: nowrap;text-align: initial}

.dropdown-item:hover {text-decoration: none;background: #e6e6e6;color: #212121}

.breadcrumb {margin: 49px 0 55px; font-size: 18px;letter-spacing: .4px;}

.breadcrumb li {display: inline-block}

.breadcrumb li:not(:last-child)::after {display: inline-block;content: "";padding: 0 .4em;color: #8bb653;font-family: "Font Awesome 5 Free";font-weight: 900;font-size: .6em;line-height: 1rem;vertical-align: middle;margin-left: 3px}

.breadcrumb a {text-decoration: none;color: inherit}

.breadcrumb a:hover, .breadcrumb a:focus {color: #8bb653}

.breadcrumb .active {color: #8bb653}

@media (max-width: 767px) {
    .breadcrumb {font-size: .85rem}

    .breadcrumb li:not(:last-child)::after {padding: 0 3px}
}

.carousel-cont {display: flex;flex: auto;overflow: hidden;}

.carousel-viewport {overflow: hidden;flex: auto}

.carousel-list {display: inline-grid;position: relative;width: 100%;grid-auto-columns: calc((100% - 22px) / 3);grid-auto-flow: column;justify-content: start;grid-column-gap: 17.2px;overflow: visible;transition: .15s}

@media (max-width: 1199px) {
    .carousel-list {grid-auto-columns: calc((100% - 8px) / 2)}
}

@media (max-width: 767px) {
    .carousel-list {grid-auto-columns: 100%}
}

@media (min-width: 992px) {
    .two-row-carousel-list {height: 780px;grid-template-rows: repeat(2, 1fr)}

    .two-row-carousel-list .carousel-list-item:nth-child(even) {justify-content: flex-end}

    .two-row-carousel-list .carousel-list-item:nth-child(odd):last-child {grid-row-start: 1;grid-row-end: 3}

    .two-row-carousel-list .carousel-list-item:nth-child(1):last-child::after, .two-row-carousel-list .carousel-list-item:nth-child(1):nth-last-child(2)::after, .two-row-carousel-list .carousel-list-item:nth-child(2):last-child::after, .two-row-carousel-list .carousel-list-item:nth-child(3):last-child::after, .two-row-carousel-list .carousel-list-item:nth-child(3):nth-last-child(2)::after, .two-row-carousel-list .carousel-list-item:nth-child(4):last-child::after {content: none}
}

.one-row-carousel-list {grid-template-rows: 1fr}

.carousel-list-two-column {grid-auto-columns: calc((100% - 8px) / 2)}

@media (max-width: 767px) {
    .carousel-list-two-column {grid-auto-columns: 100%}
}

.carousel-list-item {display: flex;flex-direction: column;position: relative;padding: 0 1.5em 0 1.1em;text-align: center;font-size: .85rem}

.carousel-list-item a {text-decoration: none;color: inherit}

.carousel-list-item a:hover, .carousel-list-item a:focus {color: #8bb653}

@media (min-width: 768px) {
    .carousel-list-item:not(:last-child)::after {content: "";position: absolute;right: -7px;top: 0;width: 6px;height: 100%;background: #8bb653}

    .carousel-list-no-divider .carousel-list-item::after {content: none}
}

.carousel-prev-btn, .carousel-next-btn {grid-row-start: 1;grid-row-end: 3;align-self: center;width: 2em;height: 3em;font-size: 3rem;color: #545454;}

.carousel-prev-btn {margin-left: 4px;}

.carousel-prev-btn:hover, .carousel-prev-btn:focus, .carousel-next-btn:hover, .carousel-next-btn:focus {color: #8bb653;outline: none;box-shadow: none}

.carousel-prev-btn:hover {
    i:before {background-image: url("../images/arrow-prev-green-ico.png");}
}

.carousel-next-btn:hover {
    i:before {background-image: url("../images/arrow-next-green-ico.png");}
}

.carousel-prev-btn[disabled] {
    i:before {background-image: url("../images/arrow-prev-gray-ico.png");opacity: .5;}
}

.carousel-next-btn[disabled] {
    i:before {background-image: url("../images/arrow-next-gray-ico.png");opacity: .5;}
}

.carousel-prev-btn[disabled]:hover {
    i:before {background-image: url("../images/arrow-prev-gray-ico.png");}
}

.carousel-next-btn[disabled]:hover {
    i:before {background-image: url("../images/arrow-next-gray-ico.png");}
}


.carousel-prev-btn:disabled, .carousel-next-btn:disabled {color: #d9d9d9}

.carousel-plain .carousel-list-item::after {content: none}

.carousel-dense {grid-auto-columns: calc((100% - 40px) / 6)}

@media (max-width: 1199px) {
    .carousel-dense {grid-auto-columns: calc((100% - 24px) / 4)}
}

@media (max-width: 991px) {
    .carousel-dense {grid-auto-columns: calc((100% - 16px) / 3)}
}

@media (max-width: 767px) {
    .carousel-dense {grid-auto-columns: calc((100% - 8px) / 2)}
}

.carousel-bg-prim .carousel-list-item::after {background-color: #fff}

.carousel-bg-prim .carousel-prev-btn, .carousel-bg-prim .carousel-next-btn {color: #e0ebd0}

.carousel-bg-prim .carousel-prev-btn:hover, .carousel-bg-prim .carousel-prev-btn:focus, .carousel-bg-prim .carousel-next-btn:hover, .carousel-bg-prim .carousel-next-btn:focus {color: #fff;outline: none;box-shadow: none}

.carousel-bg-prim .carousel-prev-btn:disabled, .carousel-bg-prim .carousel-next-btn:disabled {color: #a3c577}

.pagination {display: flex;justify-content: center;position: relative;z-index: 0;margin: 55px 0;text-align: center}

.pagination-page {display: inline-block;width: 2.5em;height: 2.5em;line-height: 2.5em;text-align: center;text-decoration: none;font-weight: bold;color: #212121;font-size: 18px;}

.pagination-page-prev, .pagination-page-next {position: relative}

.pagination-page-prev::before, .pagination-page-next::before {content: "";position: absolute;top: 0;border: 1.25em solid transparent}

.pagination-page-prev:hover, .pagination-page-prev:focus, .pagination-page-next:hover, .pagination-page-next:focus {transition-delay: .1s;background: #8bb653;color: #fff}

.pagination-page-prev {margin-left: 1.25em}

.pagination-page-prev::before {right: 100%;border-right-color: #8bb653}

.pagination-page-prev:hover ~ .pagination-page-last::before, .pagination-page-prev:focus ~ .pagination-page-last::before {transform: translateX(-8.75em)}

.pagination-page-next {margin-right: 1.25em}

.pagination-page-next::before {left: 100%;border-left-color: #8bb653}

.pagination-page-next:hover ~ .pagination-page-last::before, .pagination-page-next:focus ~ .pagination-page-last::before {transform: translateX(-3.75em)}

.pagination-page-first {position: relative;z-index: 1}

.pagination-page-first:hover ~ .pagination-page-last::before, .pagination-page-first:focus ~ .pagination-page-last::before {transform: translateX(-12.5em)}

.pagination-page-last {position: relative}

.pagination-page-last::before {content: "";position: absolute;z-index: -1;top: 0;bottom: 0;left: 0;right: 0;border: 2px solid #8bb653;transform: translateX(-6.25em);transition: .25s}

.pagination-page-last:hover::before, .pagination-page-last:focus::before {transform: none}

.icon-circle {display: inline-block;vertical-align: middle;margin-bottom: .3em;width: 1.9em;height: 1.9em;border-radius: 9999px;font-size: .75em;line-height: 1.9;text-align: center;color: #fff;transition: .25s}

.icon-circle.fa-heart {line-height: 2}

.icon-circle-lg {padding: 0;width: 2.4em;height: 2.4em;border-radius: 9999px;font-size: 1em;line-height: 2.6}

.icon-thumbs-up {background: #6e6e6e}

.icon-new {background: #8bb653}

.icon-new::before {content: "new";font-size: .8em;color: transparent;background: url("../images/new-ico.png") center no-repeat;}

.icon-bestseller {background: #2a2a2a}

.icon-comment {background: #8bb653}

.icon-eye {background: #212121}

.icon-sale {background: #8bb653}

.icon-audio {background: #8bb653}

.icon-video {background: #212121}

html {scroll-behavior: smooth}

body {font-family: "calibri", "Helvetica", "Arial", sans-serif;margin: 0;background: #ccc;color: #212121}

.block {display: block}

.inline-block {display: inline-block}

.danger {color: #d74242}

.bg-danger {background-color: #d74242;color: #fff}

.active {color: #8bb653}

.active-bg {padding-top: .15em;padding-bottom: .15em;background: #8bb653;color: #fff;margin-top: -10px;font-size: 20px;}

.icon {width: 1em;height: 1em}

.circle {border-radius: 9999px}

.center {text-align: center}

@media (max-width: 767px) {
    .align-center-max-sm {text-align: center}
}

.valign-middle {vertical-align: middle}

.flex-align-center {display: flex;align-items: center}

.avatar-small {width: 34px}

.avatar-medium {width: 50px;height: auto}

.avatar-large {width: 120px;height: auto}

.marg-l-sm {margin-left: 10px}

.marg-r-xs {margin-right: 3px}

.marg-r-sm {margin-right: 10px}

.marg-r-md {margin-right: 20px}

.marg-v-xs {margin-top: 3px;margin-bottom: 3px}

.marg-v-sm {margin-top: 10px;margin-bottom: 10px}

.marg-v-md {margin-top: 25px;margin-bottom: 25px}

.marg-v-lg {margin-top: 50px;margin-bottom: 50px}

.marg-h-xs {margin-left: 3px;margin-right: 3px}

.marg-h-sm {margin-left: 3px;margin-right: 3px}

.marg-t-0 {margin-top: 0}

.marg-v-0 {margin-top: 0;margin-bottom: 0}

.marg-t-sm {margin-top: 10px}

.marg-t-md {margin-top: 25px}

.marg-t-lg {margin-top: 50px}

.marg-t-xl {margin-top: 100px}

.marg-b-sm {margin-bottom: 10px}

.marg-b-md {margin-bottom: 25px}

.marg-v-minus-xs {margin-top: -3px;margin-bottom: -3px}

@media (min-width: 992px) {
    .marg-v-sm-min-screen-md {margin-top: 10px;margin-bottom: 10px}
}

.padd-xs {padding: .2em .4em}

.padd-sm {padding: .4em .8em}

.w-100p {width: 100%}

@media (max-width: 767px) {
    .w-100p-max-sm {width: 100%}
}

.max-w-100p {max-width: 100%}

.center-block {margin-left: auto;margin-right: auto}

@media (max-width: 991px) {
    .center-block-max-md {display: block;margin-left: auto;margin-right: auto}
}

@media (max-width: 991px) {
    .row-with-divider .col {padding-top: 10px;padding-bottom: 10px;border-bottom: 6px solid #8bb653}

    .row-with-divider .col:first-child {padding-top: 0}

    .row-with-divider .col:last-child {padding-bottom: 0;border-bottom: none}

    .row-with-divider-lg .col {padding-top: 25px;padding-bottom: 25px}
}

@media (min-width: 992px) {
    .row-with-divider .col {padding-left: 25px;padding-right: 25px;border-right: 6px solid #8bb653}

    .row-with-divider .col:first-child {padding-left: 0}

    .row-with-divider .col:last-child {padding-right: 0;border-right: none}

    .row-with-divider-lg .col {padding-left: 50px;padding-right: 50px}
}

.popup {position: relative;background: #8bb653;border: none;color: #fff}

.popup::before {content: "";position: absolute;right: 0;top: 100%;border: 10px solid transparent;border-left-width:20px;border-right-width:20px;border-right-color: #8bb653;border-top-color: #8bb653;transition: .15s}

.expandable-content-more {display: none}

.expandable-content-expanded .expandable-content-expand-btn {display: none}

.expandable-content-expanded .expandable-content-more {display: block}

.expandable-content.expanded .expandable-content-expand-btn .fa-chevron-down::before {content: ""}

.expandable-content.expanded .expandable-content-expand-btn:hover, .expandable-content.expanded .expandable-content-expand-btn:focus {transform: translateY(-3px)}

.book-thumb-md {width: 160px}

@media (max-width: 767px) {
    .sort-by-cont {margin-left: -10px;margin-right: -10px}
}

.sort-by-cont .mini-nav {display: inline-flex;color: #212121}

.sort-by-cont .active {color: #fff}

.mini-nav {display: flex;margin-left: -10px;margin-right: -10px}

.mini-nav > li {padding: 0 15px;line-height: 14px;}

.mini-nav > li:not(:last-child) {border-right: 1px solid #fff;}

.mini-nav a {text-decoration: none;color: inherit}

.mini-nav a:hover, .mini-nav a:focus {color: #fff}

@media (max-width: 991px) {
    .mini-nav {text-align: center}

    .mini-nav > li {flex: 1 1 0}
}

.mini-nav-large {margin-left: -10px;margin-right: -10px}

.mini-nav-large > li {padding: 10px}

.mini-nav-large a:hover, .mini-nav-large a:focus {color: #8bb653}

@media (min-width: 768px) {
    .mini-nav-large > li {padding: 25px}
}

.mini-nav-large > li:not(:last-child) {border-right: 5px solid #8bb653}

.container {max-width: 1420px;margin: auto}

.site-container {padding-top: .1px;background: #fff}

.site-content {position: relative;outline: none;transition: .15s}

.section {padding-top: 55px;padding-bottom: 55px}

.section-sm {padding-top: 60px;padding-bottom: 60px}

.mini-section {padding-top: 30px;padding-bottom: 30px}

@media (max-width: 991px) {
    .section-with-side-text {padding-top: 0}
}

.pos {position: relative}

.section-more-link {position: absolute;top: 100%;left: 50%;width: max-content;transform: translate(-50%);margin-top: 25px;font-size: 2rem}

@media (min-width: 992px) {
    .content {flex: 1;width: 0}
}

@media (min-width: 992px) {
    .row {display: flex;flex-wrap: wrap;margin-left: -10px;margin-right: -10px}
}

.col {padding-left: 10px;padding-right: 10px}

@media (min-width: 992px) {
    .flex {display: flex;justify-content: space-between;align-items: stretch}
}

.flex-jcsb {display: flex;justify-content: space-between;align-items: center}

@media (min-width: 480px) {
    .flex-jcsb-min-xs {display: flex;justify-content: space-between;align-items: center}
}

.flex-jce {display: flex;justify-content: flex-end}

@media (max-width: 479px) {
    .min-screen-xs {display: none !important}
}

@media (max-width: 767px) {
    .min-screen-sm {display: none !important}
}

@media (max-width: 991px) {
    .min-screen-md {display: none !important}

    .marg-lg-r-b-md {margin-bottom: 50px}
}

@media (min-width: 768px) {
    .max-screen-sm {display: none !important}
}

@media (min-width: 992px) {
    .max-screen-md {display: none !important}

    .marg-lg-r-b-md {margin-right: 50px}
}

@media (max-width: 991px) {
    .sr-only-max-md {position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0}
}

.h-rule {height: 58px;margin: 0;border: none}

.h-rule.style-1 {background: 0 0 no-repeat url("../img/horizontal-rule-1.png")}

.h-rule.style-2 {background: 0 0 no-repeat url("../img/horizontal-rule-2.png");height: 53px;}

.justify-letters {display: flex;font-family: 'calibri', sans-serif; font-weight: 400;}

.justify-letters > span {flex: auto;margin-right: 2em}

.justify-letters > span:last-child {margin-right: 0}

.justify-letters .section-heading-line, .side-text .section-heading-line {display: flex !important;justify-content: space-between;letter-spacing: 0 !important;user-select: none}

.justify-letters .section-heading-line > span:empty, .side-text .section-heading-line > span:empty {width: 1em;height: 1em}

.separator {margin-left: 10px;margin-right: 10px;width: 0;height: 100%;border-left: 5px solid}

.section, .mini-section {z-index: 1}

.vertical-text {font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-size: 10vw;letter-spacing: .2em;color: #474747}

.vertical-text > span {display: block}

@media (min-width: 768px)and (max-width: 991px) {
    .vertical-text {font-size: 5.5vw}

    .vertical-text > span {display: inline}
}

@media (min-width: 992px) {
    .vertical-text-cont {display: flex;justify-content: flex-end}

    .vertical-text {margin: 0;writing-mode: vertical-rl;transform: rotate(180deg);font-size: 40px}
}

.side-text-cont-img-responsive {position: relative;z-index: 1}

@media (max-width: 991px) {
    .side-text-cont-img-responsive::before {content: "";position: absolute;z-index: -1;top: 0;left: 0;padding-top: 100%;width: 700px;transform-origin: 0 100%;transform: translateY(-100%) rotate(90deg)}
}

.side-text-cont-img-responsive-ccw::before {transform-origin: top left;transform: rotate(-90deg) translateX(-100%)}

.side-text {color: #474747;mix-blend-mode: multiply}

.side-text.clr-bg {mix-blend-mode: normal}

@media (max-width: 767px) {
    .side-text .section-heading {font-size: 8vw}
}

@media (max-width: 991px) {
    .side-text {position: relative;padding-top: 50%;text-align: center}

    .side-text .section-heading {position: absolute;top: 50%;left: 0;right: 0;transform: translateY(-50%);margin-bottom: 0}

    .side-text-one-line {padding-top: 30%}
}

.section-heading, .mini-section-heading {margin: 0;font-family: "PT Serif", "Minion Pro", "Times New Roman", sans-serif;font-size: 80px}

.section-heading > span, .mini-section-heading > span {display: block;white-space: nowrap}

@media (min-width: 992px) {
    .side-text {display: flex;flex: none;width: 270px;writing-mode: vertical-rl;transform: rotate(180deg);align-items: start;letter-spacing: 30px}

    .mini-section .side-text {letter-spacing: 10px}

    @supports not (height: min-content) {
        .section .side-text {height: 650px}

        .section-contact .side-text {height: 460px}

        .widget .side-text {height: 700px}

        .user-section-blog-posts .side-text {height: 560px}

        .user-section-ratings .side-text {height: 350px}

        .section-become-author-contact .side-text {height: 480px}
    }.has-side-text {position: relative;min-height: 350px}

    .side-text-left {padding-left: 305px}

    .side-text-right {padding-right: 339px}

    .side-text-right .carousel-next-btn, .side-text-right .carousel-prev-btn {margin-bottom: 0;margin-top: 18px;}

    .side-text-right .carousel-prev-btn {margin-right: 4px;margin-left: 0;}

    .side-text-right .carousel-next-btn {transform: translateX(10px);}

    .side-text {position: absolute;height: 100%;top: 0}

    .side-text > .section-heading {height: 100%}

    .side-text-left .side-text {left: 35px;}

    .side-text-right .side-text {right: 0}

    .section-heading, .mini-section-heading {text-transform: lowercase}
}

.mini-section-heading {font-size: 60px; margin-left: .6em;}

@media (min-width: 992px) {
    .side-text-left .section-heading {margin-right: -0.6em;line-height: 1.45;}
}

.side-text-right .side-text {order: 1;overflow: hidden;align-items: flex-end}

@media (min-width: 992px) {
    .side-text-right .section-heading {margin-left: .2em;font-size: 120px;line-height: 130px;}
}

.breadcrumb-cont {display: flex;flex-wrap: wrap;justify-content: space-between;align-items: center;}

.breadcrumb-cont-cta-only {justify-content: flex-end}

@media (max-width: 767px) {
    .breadcrumb-cont {flex-direction: column}

    .btn-cta {align-self: center}
}

.continue-reading-box {margin-top: 10px;text-align: center}

a.continue-reading {text-decoration: none;color: #8bb653;vertical-align: middle}

a.continue-reading .continue-reading-text, a.continue-reading .fa-ellipsis-h {vertical-align: middle}

a.continue-reading .continue-reading-text {display: inline-block;overflow: hidden;width: 0;transition: .15s}

a.continue-reading .fa-ellipsis-h {overflow: hidden;width: 1em;transition: .15s}

a.continue-reading:hover, a.continue-reading:focus {outline: none}

a.continue-reading:hover .continue-reading-text, a.continue-reading:focus .continue-reading-text {width: 3em;text-align: center}

a.continue-reading:hover .fa-ellipsis-h, a.continue-reading:focus .fa-ellipsis-h {width: 0}

a.continue-reading-size-9:hover .continue-reading-text, a.continue-reading-size-9:focus .continue-reading-text {width: 5.5em}

.share-dropdown .dropdown-toggle {width: 11em;background: none;border: 4px solid transparent;transition-property: color}

.share-dropdown .dropdown-toggle:hover, .share-dropdown .dropdown-toggle:focus {color: #8bb653}

.share-dropdown.open .dropdown-toggle {border-color: #8bb653}

.share-dropdown.open .link-clr-fg, .share-dropdown.open .post-edit-btn, .share-dropdown.open .post-title > a {color: #8bb653}

.share-dropdown.open .link-clr-fg .icon-circle, .share-dropdown.open .post-edit-btn .icon-circle, .share-dropdown.open .post-title > a .icon-circle {background: none;color: #8bb653}

.share-dropdown .dropdown-menu {width: 11em;margin-top: 0;background: #8bb653}

.share-dropdown .dropdown-item {color: #fff}

.share-dropdown .dropdown-item:hover, .share-dropdown .dropdown-item:focus {background: #a3c577;outline: none}

.clr-bg, .clr-bg a {color: #fff}

.clr-fg {color: #212121}

.clr-prim {color: #8bb653}

.bg-bg {background-color: #fff}

.bg-prim {background-color: #8bb653;color: #fff}

.light {color: #6e6e6e}

.rate {position: relative;display: inline-block;font-size: 1.2rem}

.rate label {display: flex;flex-direction: column;align-items: center;float: right;margin: 3px 0 0}

.rate label::after {content: "";padding: .1em;font-family: "Font Awesome 5 Free";font-weight: normal}

.rate:not(:hover) input:checked ~ label::after, .rate label:hover::after, .rate :focus + label::after, .rate label:hover ~ label::after, .rate :focus + label ~ label::after {font-weight: bold}

.rate:not(:hover) input:checked ~ label .rating-value, .rate label:hover .rating-value, .rate :focus + label .rating-value, .rate label:hover ~ label .rating-value, .rate :focus + label ~ label .rating-value {visibility: visible}

.rate:not(:hover):not(:focus-within) input:checked ~ label::after, .rate label:hover::after, .rate :focus + label::after, .rate label:hover ~ label::after, .rate :focus + label ~ label::after {font-weight: bold}

.rate:not(:hover):not(:focus-within) input:checked ~ label .rating-value, .rate label:hover .rating-value, .rate :focus + label .rating-value, .rate label:hover ~ label .rating-value, .rate :focus + label ~ label .rating-value {visibility: visible}

.rating-value {visibility: hidden;font-size: .7rem;font-weight: normal}

@media (max-width: 991px) {
    .rate {float: none;display: inline-block;margin-bottom: 10px}
}

.site-header {position: fixed;top: 0;left: 0;right: 0;z-index: 201;background: #474747;color: #fff;transition: .25s}

.site-header a, .site-header button {color: #fff}

.site-header a:hover, .site-header a:focus, .site-header button:hover, .site-header button:focus {color: #8bb653;outline: none}

.site-header a {text-decoration: none}

.site-header a:hover, .site-header a.active {color: #8bb653}

.site-header button {color: #fff;width: 59px;}

.site-header input[type=search] {flex: auto;background: #6e6e6e;border: 0;max-width: 300px;margin-left: 9px;}

.site-header input[type=search]:focus {background: #fff;box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .4)}

.site-header .fas, .site-header .far, .site-header .fab {font-size: 20px}

.skip-top-main-link.skip-top-main-link.skip-top-main-link {position: absolute;top: 2px;color: #fff;transition: none}

@media (min-width: 992px) {
    .site-header-top {padding-top: 30px;padding-bottom: 40px;transition: padding .25s}

    .menu-group, .top-nav {transition: height .25s}

    .logo-cont {top: calc(2 * 4rem + 2 * 40px - 350px + 50px)}

    .page-scrolled .site-header {filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.4))}

    .page-scrolled .site-header-top {padding-top: 0;padding-bottom: 10px}

    .page-scrolled .menu-group {height: 3rem}

    .page-scrolled .top-nav {height: 2.5rem}

    .page-scrolled .logo-cont {top: calc(3rem + 2.5rem + 10px - 350px + 40px)}
}

.menu-line-top {display: flex;margin-bottom: 10px;}

.menu-group {display: flex;flex-direction: column;flex: 1 1 0;justify-content: space-between;align-items: center}

@media (max-width: 991px) {
    .menu-group:last-child {align-items: flex-end}
}

.menu-area {height: 100%;padding: 10px 0;}

.menu-group:first-child {margin-right: 90px}

.search {width: 0}

.user-profile-link > .avatar-small {box-sizing: content-box;border: 2px solid transparent;border-radius: 999px}

.user-profile-link:focus > .avatar-small {border-color: #8bb653}

.user-cart-link.user-cart-link:focus {color: #fff}

@media (max-width: 991px) {
    body[data-expanded-menu] {overflow: hidden}

    .site-header {max-height: 100%;transition: 0s 1s}

    .site-header.menu-expanded {height: auto;overflow: auto;transition: none}

    .site-header:not(.menu-expanded) .social-links, .site-header:not(.menu-expanded) .user-area, .site-header:not(.menu-expanded) .menu-line-bottom, .site-header:not(.menu-expanded) .cat-menu-nav {visibility: hidden;transition: .25s}

    .site-header-wrap {height: 4rem;overflow: hidden;transition: .25s}

    .cat-menu-toggle-wrap {display: none}
}

@media (min-width: 992px) {
    .site-header {height: auto !important}

    .menu-line-bottom {display: flex}

    .menu-group {flex-direction: row}

    .menu-group:first-child {margin-right: 130px}

    .menu-group, .top-nav {height: 60px}

    .top-nav {display: flex;flex: auto}

    .top-nav > li:nth-child(1), .top-nav > li:nth-child(2), .top-nav > li:nth-child(3) {flex: none;width: calc((100% - 167px) / 6)}

    .top-nav > li:nth-child(3) {margin-right: 150px}

    .social-links {order: -1}

    .header-toggle {display: none}

    .cat-menu-toggle-wrap {order: -1;display: flex;align-items: stretch;border-top: 1px solid #606060;border-bottom: 1px solid #606060}

    .search-wrap {flex: auto}
}

.social-links {display: flex;height: 100%}

@media (max-width: 991px) {
    .social-links {align-self: flex-start}
}

.social-links > li {border-right: 1px solid #606060}

.social-links a {width: 59px;height: 100%}

.social-links a:hover, .social-links a:focus {background: #fff;color: #474747;outline: none}

.site-subtitle {margin: 0;font-size: 17px;text-transform: lowercase;letter-spacing: 10.1px;text-align: right;font-family: 'calibri',sans-serif;}

@media (max-width: 767px) {
    .site-subtitle {font-size: 2.7vw;letter-spacing: .4em;}
}

.search-wrap {display: flex}

.search-form {flex: auto;display: flex}

.user-area {display: flex;height: 100%;margin-right: 2px;}

.user-area > li {border-left: 1px solid #606060}

.user-area a {width: 59px;height: 100%}

a.user-cart-link {position: relative;color: #8bb653}

.user-cart-quantity {position: absolute;left: 70%;top: -0.24em;font-size: 13px}

@media (max-width: 767px) {
    .social-links, .user-area {align-self: stretch}

    .social-links > li, .user-area > li {flex: auto}

    .social-links a, .user-area a {width: 100%}
}

@media (max-width: 991px) {
    .menu-area {height: 4rem}

    .search {display: none}

    .social-links > li:last-child {border-right: none}

    .user-area > li:first-child {border-left: none}

    .site-header.search-expanded .search {display: block;position: fixed;left: 0;top: 0;width: 100vw;height: 4rem}

    .site-header.search-expanded .logo-cont {bottom: 0;transform: translate(-50%, -100%)}
}

.top-nav {justify-content: stretch}

.top-nav li {flex: 1 1 0;margin-top: -1px;border-top: 1px solid #606060;border-bottom: 1px solid #606060;padding: 10px 0}

.top-nav a {height: 100%;letter-spacing: 1px; font-size: 18px;}

@media (max-width: 991px) {
    .top-nav li:last-child {border-bottom: none}

    .top-nav a {justify-content: flex-start}
}

@media (min-width: 992px) {
    .top-nav li {margin-top: 0}

    .top-nav a {border-right: 1px solid #606060}

    .top-nav li:nth-child(3) a, .top-nav li:last-child a {border: none}
}

.logo-cont {position: absolute;z-index: 2;left: 50%;transform: translateX(-50%);transition: .15s;text-decoration: none}

@media (max-width: 991px) {
    .logo-cont {bottom: auto;top: calc(4rem - 350px + 18px);filter: none}

    .logo::before {content: "";position: absolute;bottom: 54px;left: 0;right: 0;height: 50px;background: #eb008b}
}

@media (min-width: 992px) {
    .logo, .scroll-up-btn {transition: .15s}

    .logo {display: block}

    .logo:hover, .logo:hover + .scroll-up-btn, .logo:focus, .logo:focus + .scroll-up-btn {transform: translateY(13px);transition: .5s cubic-bezier(0.25, 0.1, 0, 1);outline: none}
}

button.scroll-up-btn {position: absolute;z-index: -1;top: calc(100% - 28px);left: 0;width: 100%;height: 71px;visibility: hidden;opacity: 0}

button.scroll-up-btn .arrows-arrow-last {opacity: 0}

body.page-scrolled button.scroll-up-btn {visibility: visible;opacity: 1}

button.scroll-up-btn:hover {opacity: 1}

button.scroll-up-btn:hover .icon-arrows {animation: scroll-up 1.2s infinite linear}

button.scroll-up-btn:hover .icon-arrows .arrows-arrow-last {opacity: 1;animation: scroll-up-arrow 1.2s infinite linear}

@keyframes scroll-up {
    0% {transform: translateY(20px)}
    33% {transform: none}
    33.01% {transform: translateY(20px);animation-timing-function: cubic-bezier(0.27, 0.37, 0.42, 1)}
    100% {transform: none}
}

@keyframes scroll-up-arrow {
    0% {opacity: 1}
    3% {opacity: 1}
    3.1% {opacity: 0}
    15% {opacity: 0}
    30% {opacity: 1}
    33% {opacity: 1}
    35% {opacity: 0}
    48% {opacity: 0}
    63% {opacity: 1}
    100% {opacity: 1}
}

.scroll-up-btn-wrap {display: block;clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 18px), 0 100%)}

.icon-arrows {width: 100%;height: auto;fill: #eb008b}

.cat-menu-nav {background: #fff;overflow: hidden;font-size: .85rem;font-weight: normal;height: 0;visibility: hidden;transition: .25s}

.cat-menu-nav.menu-expanded {visibility: visible}

.cat-menu {margin: 20px -17px 20px -19px;}

.cat-menu a {display: flex;justify-content: space-between;align-items: center;padding: .5em .5em .8em;color: #212121;text-decoration: none;font-size: 17px;}

.cat-menu .fa-chevron-right {margin-left: 25px;font-size: 12px;margin-top: 4px;}

.cat-menu-item {break-inside: avoid-column;margin-top: -1px;padding-left: 15px;padding-right: 15px;background: #fff}

.cat-menu-item:last-child {grid-row-end: last-line}

.cat-menu-item a:hover, .cat-menu-item a:focus, .cat-menu-item.active a {color: #8bb653}

.cat-menu-item:not(.active) a:hover, .cat-menu-item:not(.active) a:focus {transform: translateX(5px)}

.cat-menu-item-wrap {border-top: 1px solid #d7d7d7;border-bottom: 1px solid #d7d7d7}

.cat-menu-expand-btn-cont {display: list-item !important}

.cat-menu-expand-btn.cat-menu-expand-btn.cat-menu-expand-btn {background: #6e6e6e;border: 2px solid #6e6e6e;border-left-width: 3px;border-right-width: 3px;color: #fff;transform: none !important}

.cat-menu-expand-btn.cat-menu-expand-btn.cat-menu-expand-btn:focus {background: #fff;color: #6e6e6e}

.cat-menu-nav.menu-expanded .cat-menu-expand-btn.cat-menu-expand-btn.cat-menu-expand-btn .fa-chevron-down {transform: rotate(180deg)}

.home-categories-cont .cat-menu-nav:not(.menu-expanded) .cat-menu-item:nth-child(7) ~ .cat-menu-item {display: none}

button.cat-menu-toggle-mobile {width: 100%;padding: .4em .8em;text-transform: lowercase;color: #8bb653}

button.cat-menu-toggle-mobile[aria-pressed=true] {display: none}

button.cat-menu-toggle-mobile .fa-caret-down {display: block}

.page-home .cat-menu-toggle-wrap {display: none}

.home-categories-cont {position: relative;margin-top: 35px;margin-bottom: 30px;}

.home-categories-cont .cat-menu-nav {visibility: visible;height: auto}

.home-categories-cont .cat-menu-nav:not(.menu-expanded) .cat-menu-item:nth-child(5) ~ .cat-menu-item {display: none}

.cat-menu-toggle-home {display: block;margin-left: auto;margin-right: auto;background: none}

.cat-menu-toggle-home > span:not(.sr-only), .cat-menu-toggle-home > span:not(.sr-only)::before, .cat-menu-toggle-home > span:not(.sr-only)::after {background: #212121}

@media (max-width: 991px) {
    .cat-menu-toggle-home {margin-top: 20px}
}

@media (min-width: 992px) {
    .page-home .site-header .cat-menu-nav {display: none}

    .cat-menu-toggle-home {position: absolute;z-index: 2;left: 22.5px;transform: translateX(-50%);top: 20px}

    button.cat-menu-toggle {width: auto;}
}

@media (min-width: 768px) {
    .cat-menu {column-count: 2;column-rule: 6px solid #8bb653}
}

@media (min-width: 992px) {
    .cat-menu {column-count: 3}

    .cat-menu-toggle-cont {display: none}
}

@media (min-width: 1200px) {
    .cat-menu-toggle-home {left: 45px}
}

@media (min-width: 1420px) {
    .cat-menu {column-count: 4}

    .home-categories-cont .cat-menu-nav:not(.menu-expanded) .cat-menu-item.cat-menu-item.cat-menu-item {display: list-item}

    .home-categories-cont .cat-menu-nav:not(.menu-expanded) .cat-menu-item:nth-child(7) ~ .cat-menu-item {display: none}
}

.grid-list {display: grid;grid-template-columns: repeat(auto-fill, 14em);justify-content: space-evenly;grid-row-gap: 0;}

@media (min-width: 992px) {
    .grid-list {justify-content: space-between}
}

.book-short {position: relative;display: flex;flex-direction: column;text-align: center}

.book-short-extended .book-attributes {height: 42px;border-bottom: 1px solid #b3b3b3}

.book-short-extended .book-title, .book-short-extended .book-author {align-self: flex-end;text-align: right}

.book-short-extended .book-title a, .book-short-extended .book-author a {color: inherit}

.book-short-extended .book-title a:hover, .book-short-extended .book-title a:focus, .book-short-extended .book-author a:hover, .book-short-extended .book-author a:focus {color: #8bb653;outline: none}

.book-short-extended .book-title {margin-bottom: 3px}

.book-short-extended .book-rating {margin: 8px 0!important;align-self: center;text-align: left;color: #b3b3b3;font-size: .85em}

.book-short-extended .book-rating-link .book-rating::after {transition: .15s}

.book-short-extended .book-rating-link:hover, .book-short-extended .book-rating-link:focus {outline: none}

.book-short-extended .book-rating-link:hover .book-rating, .book-short-extended .book-rating-link:hover .book-rating::after, .book-short-extended .book-rating-link:focus .book-rating, .book-short-extended .book-rating-link:focus .book-rating::after {color: #545454}

.book-short-extended .book-description {padding: .5em 0;padding-bottom: 0;border-top: 1px solid #b3b3b3;border-bottom: 1px solid #b3b3b3}

.book-short-extended a {text-decoration: none;}

.book-rating {position: relative;display: inline-block;margin-top: 5px!important;}

.book-rating::before {content: "";font-family: "Font Awesome 5 Free";font-weight: 900;color: #d9d9d9;font-size: 14px}

.book-rating::after {position: absolute;left: 0;top: 0;font-family: "Font Awesome 5 Free";font-weight: 900;color: #8bb653;font-size: 14px;margin-top: 2px;}

.book-rating[data-rating="0.5"]::after {content: ""}

.book-rating[data-rating="1"]::after {content: ""}

.book-rating[data-rating="1.5"]::after {content: ""}

.book-rating[data-rating="2"]::after {content: ""}

.book-rating[data-rating="2.5"]::after {content: ""}

.book-rating[data-rating="3"]::after {content: ""}

.book-rating[data-rating="3.5"]::after {content: ""}

.book-rating[data-rating="4"]::after {content: ""}

.book-rating[data-rating="4.5"]::after {content: ""}

.book-rating[data-rating="5"]::after {content: ""}

.book-rating-clr-fg::after {color: #6e6e6e}

.book-attributes {height: 50px;}

.book-attributes .icon-circle {font-size: .9rem}

.book-attr {margin: 5px 8px 10px;}

.book-description {padding: 1.15em 1.5em 1.35em;border-top: 1px solid #d9d9d9;font-size: .85rem;text-align: center;border-bottom: 1px solid #d9d9d9;}

.book-image-cont + .book-description {margin-top: 3em; margin-bottom: 12px;}

.book-description > :first-child {margin-top: 0}

.one-row-carousel-list .book-description {margin-top: 50px}

.book-title {font-size: 1rem;margin: 5px 0}

@media (min-width: 992px) {
    .book-short .book-title {overflow: hidden;white-space: nowrap;text-overflow: ellipsis}
}

.book-author {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #6e6e6e;font-size: 17px;}

.book-comments {width: -webkit-min-content;width: -moz-min-content;width: min-content;margin: auto;position: relative;font-size: 17px;}

.new-comments-num {position: absolute;left: 100%;padding-left: 10px;color: #8bb653}

.book-purchased-text {font-weight: bold}

.book-image-cont-wrap {min-height: 260px;display: flex;justify-content: center}

.book-image-cont {display: inline-block;align-self: center;margin-left: -7px;margin-top: -5px;perspective: 1000px}

.book-image-cont:hover, .book-image-cont:focus {outline: none}

.book-image-cont:hover .book-image-wrap, .book-image-cont:focus .book-image-wrap {transform: translateZ(-100px)}

.book-image-wrap {display: inline-block;position: relative;transform: translateZ(-100px) rotateY(-30deg);transform-style: preserve-3d;transition: .4s}

.book-image-wrap::before {content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 50px;box-shadow: 12px -3px 40px 5px rgba(0, 0, 0, .4);background: rgba(0, 0, 0, .4);border-radius: 10px;transform-origin: bottom;transform: rotateX(90deg);backface-visibility: visible}

.book-image-wrap::after {content: "";position: absolute;top: 0;right: -20px;height: 100%;width: 20px;background: silver;transform: rotateY(90deg);transform-origin: left}

.book-image {display: block;width: 170px;max-height: 250px;}

.book-price-cont {height: 2em;display: flex;justify-content: space-between;align-items: center;margin: 6px 0;text-align: right}

.book-price-cont .btn {font-size: 20px;line-height: 20px;max-height: 24px;padding: 0 3px;}

.book-price-cont .btn .fa-check {font-size: 14px;}

.book-short .book-price-old {display: block;margin-bottom: -0.3em;margin-top: -1em;text-align: left;font-size: 18px;color: #808080;font-weight: 400;position: relative;padding-left: 4px;
    &:before {position: absolute;content: '';width: 69px;height: 1px;background-color: #808080;top: 57%;left: 0;display: block;transform: rotate(-7deg);}
}

.book-short .book-price-old::after {content: none}

.box-arrow-right {position: relative;height: 100%;padding: 0 .4em;background: #6e6e6e;color: #fff;margin-left: -9px;height: 24px;}

.box-arrow-right::after {content: "";position: absolute;left: 100%;height: 24px;top: 0;border: solid 12px transparent;border-right: none;border-left: solid 10px #6e6e6e}

.add-to-cart-btn .fa-spin {font-size: 13px;animation-duration: 1s}

.site-footer {padding-top: 105px;background: url(../img/horizontal-rule-thick.png) no-repeat 0 0, #8bb653;font-size: .85rem;overflow: hidden}

.site-footer a {color: #212121}

.footer-nav {grid-auto-flow: column;margin-top: 5px;}

.footer-nav h3 {margin: 1.5em 0 1.2em;text-align: center;font-size: 16px;}

.footer-nav, .footer-row {margin: 0 -25px;}

.footer-menu, .footer-row > div {padding: 0 1.7em 0 1.9em}

.footer-row:first-child {border-bottom: 1px solid #778e47}

.footer-row > div {margin-top: 1em;margin-bottom: 1.3em; padding: 0 1.5em 0 1.5em;word-spacing: -.5px;}

.footer-row > div:first-child {border-right: 1px solid #778e47}

.footer-menu {display: block;background: none;font-weight: normal}

.footer-menu > li {padding: 0;border: 0}

.footer-menu > li:not(:first-child) {margin-top: -1px}

.footer-menu a {text-decoration: none;display: block;padding: .83em 0;border-top: 1px solid #778e47;border-bottom: 1px solid #778e47;font-size: 17px;line-height: 1;}

.footer-menu a .fa-chevron-right {float: right;font-size: 12px;margin-top: 2px;}

.footer-contacts {overflow: hidden;}

.footer-tel {font-size: 15px;}

.footer-social-links-cont {border-left: 1px solid #778e47}

.footer-social-link {margin: 10px 20px 10px 0;}

.footer-social-link .fab {font-size: 20px;}

.footer-row:not(:last-child) {border-bottom: 1px solid #778e47 }

@media (min-width: 992px) {
    .site-footer {padding-bottom: 25px}

    .footer-nav, .footer-row {display: grid;grid-template-rows: repeat(4, min-content);grid-template-columns: repeat(2, 1fr)}

    .footer-menu, .footer-nav h3 {border-right: 1px solid #778e47;}

    .footer-menu:nth-of-type(3), .footer-menu:nth-of-type(4), .footer-nav h3:nth-of-type(3), .footer-nav h3:nth-of-type(4) {border-right: none}

    .footer-created-by {grid-column: span 2}
}

@media (min-width: 1200px) {
    .footer-nav, .footer-row {grid-template-rows: repeat(2, min-content);grid-template-columns: repeat(4, 1fr)}

    .footer-menu:nth-of-type(3), .footer-nav h3:nth-of-type(3) {border-right: 1px solid #778e47}

    .footer-menu:nth-of-type(4), .footer-nav h3:nth-of-type(4) {border-right: none}

    .footer-social-links-cont {grid-column-start: 4}

    .footer-created-by {text-align: right}

    .footer-social-link:last-child {float: right; margin: 0;font-size: 16px;}

    .footer-row > div {font-size: 17px;line-height: 1;}
}

.blog-post-before-content {width: 100%}

.post-author {display: inline-flex;align-items: flex-start;margin-bottom: .8em;overflow: hidden}

.post-author .avatar {margin-right: 10px}

.post-author-info {overflow: hidden}

.post-author-name {color: #3b3b3b}

.post-title-cont {display: flex;justify-content: space-between;margin-top: 0;margin-bottom: .8em}

.post-title-cont .post-title {margin-top: 0;margin-bottom: 0;margin-right: 10px}

.post-title-cont .post-date {margin-top: 2px}

.post-title > a {font-weight: bold}

.post-image-wrap {margin-bottom: 1em}

.post-image {width: 100%}

.post-date {color: #6e6e6e}

.post-image-link {display: block;overflow: hidden}

.post-image-link:hover .post-image, .post-image-link:focus .post-image {transform: scale(1.08)}

.post-image {transition: 1s cubic-bezier(0, 0.5, 0.25, 1);transform-origin: 50% 10%}

.post-footer {font-size: .85rem}

.post-reactions {margin-top: 25px}

.post-reaction {margin-right: 10px}

.post-reaction .icon-circle {position: relative}

.post-tags {margin-top: 25px}

.post-tags .tag {color: #6e6e6e;text-decoration: none}

.post-tags .tag:hover, .post-tags .tag:focus {color: #212121}

.post-actions {margin-top: 25px;font-size: 1rem}

.post-like-btn {padding: .2em .4em}

.post-like-btn:hover, .post-like-btn:focus {color: #8bb653}

.post-like-btn.liked {background: #8bb653;color: #fff}

.post-like-btn.liked .icon-circle {color: #fff}

.post-edit-btn {font-size: .85rem}

.article h2 {padding-top: .4em;padding-bottom: .4em;background: #8bb653;font-size: 1.2rem}

.article h3 {font-size: 1em}

.article img {max-width: 100%}

.post-go-to-post-link {display: none}

.post-go-to-post-link:hover, .post-go-to-post-link:focus {text-decoration: underline;color: #6e6e6e}

.expandable-content-expanded .post-go-to-post-link {display: block}

.awaits-moderation-popup {padding: .4em .8em}

.just-loaded-post {animation: post-fade-in 1s ease-out}

@keyframes post-fade-in {
    from {opacity: 0}
    to {opacity: 1}
}

@media (max-width: 767px) {
    .awaits-moderation-popup {position: absolute;top: 25px;width: 100%}

    .post-awaits-moderation.post-awaits-moderation.post-awaits-moderation {padding-top: calc(1em + 2 * 0.4em + 50px)}
}

@media (min-width: 768px) {
    .post-actions {display: flex;justify-content: space-between;align-items: center}

    .awaits-moderation-popup {float: right}
}

.post-full .post-author {display: inline-flex;padding-right: .4em}

.posts-list .post-author {display: flex}

.posts-list .post-image {max-height: 160px;-o-object-fit: cover;object-fit: cover}

.posts-list .post-title {font-size: 1.2rem}

.page-user-agreement .page-heading {position: relative;color: #8bb653;font-family: "Arial", "Helvetica", sans-serif;font-size: 110px;text-transform: uppercase;text-align: right}

@media (max-width: 1420px) {
    .page-user-agreement .page-heading {font-size: 8vw}
}

.page-user-agreement .page-heading::after {content: "";position: absolute;left: 0;top: -0.7em;width: 100%;padding-top: 28.4440842788%;background: url(../img/page-user-agreement-heading.png) no-repeat 0/contain}

.page-how-to-read .page-heading {color: #8bb653;font-family: "Arial", "Helvetica", sans-serif;font-size: 110px;text-align: center;padding: 0 10%;background: url(../img/page-how-to-read-leaf-left.png) no-repeat 0/contain, url(../img/page-how-to-read-leaf-right.png) no-repeat 100%/contain}

@media (max-width: 1420px) {
    .page-how-to-read .page-heading {font-size: 8vw}
}

.user-signin-dialog input[type=text], .user-signin-dialog input[type=email], .user-signin-dialog input[type=password] {width: 100%;margin: 10px 0;border-radius: 0}

.user-signin-dialog button[type=submit] {display: block;margin-left: auto;margin-right: auto;margin-top: 25px;font-size: 17px}

.user-signin-dialog .dialog {max-width: 430px;padding-bottom: 50px}

.user-signin-dialog .dialog-body {padding: 0;background: none}

.user-signin-dialog .tabs-nav {display: flex}

.user-signin-dialog .tabs-tab {flex: 1 1 0;background: none;border-bottom: 2px solid transparent;color: #fff;font-size: 1.2rem}

.user-signin-dialog .tabs-tab.active {background: #fff;color: #8bb653}

.user-signin-dialog .tabs-tab:focus {border-bottom-color: #6e6e6e;color: #545454}

.user-signin-dialog .tabs-panel {padding: 25px;background: #fff}

.user-signin-dialog .checkboxes-prim {font-size: .85rem;color: #6e6e6e}

.user-signin-3d-party {border-bottom: 6px solid #8bb653;padding-left: inherit;padding-right: inherit;margin: 0 -25px;padding-bottom: 10px}

.user-signin-3d-party small {display: inline-block}

.user-signin-3d-party .connect-via-providers {display: block;text-align: center}

.user-signin-login-form {padding-top: 10px}

.user-signin-3d-party-heading {font-size: 20px}

.user-signin-native-heading {font-size: 16.5px}

@media (min-width: 480px) {
    .user-signin-dialog .dialog {padding-left: 25px;padding-right: 25px}

    .user-signin-dialog .tabs-tab {font-size: 1.44rem}
}

.added-to-cart-dialog .dialog {max-width: 400px;text-align: center}

.added-to-cart-dialog .dialog-heading {font-size: 37px}

#added-to-cart-dialog-label {font-family: "calibri", "Helvetica", "Arial", sans-serif;font-weight: normal}

.update-browser {flex: auto;margin-top: 50px;text-align: center;font-size: 1.2rem;animation: browser-show 0s 3s both}

@keyframes browser-show {
    from {visibility: hidden}
    to {visibility: visible}
}

.browser-link.browser-link {display: inline-block;margin: 25px 10px;text-decoration: none;color: #212121;transition: .15s}

.browser-link.browser-link:hover, .browser-link.browser-link:focus {transform: scale(1.1)}

.browser-bg {width: 123px;height: 130px;background: url(../img/browsers-sprite.png) no-repeat}

.browser-bg--chrome {background-position-x: 0}

.browser-bg--firefox {background-position-x: -125px}

.browser-bg--opera {background-position-x: -250px}

.browser-bg--safari {background-position-x: -375px}

.browser-bg--edge {background-position-x: -500px}

.no-support .site-container {display: none}

@media print {
    *, *:before, *:after {background: transparent !important;color: #000 !important;box-shadow: none !important;text-shadow: none !important}

    a, a:visited {text-decoration: underline}

    a[href]:after {content: " (" attr(href) ")"}

    abbr[title]:after {content: " (" attr(title) ")"}

    a[href^="#"]:after, a[href^="javascript:"]:after {content: ""}

    pre, blockquote {border: 1px solid #999;page-break-inside: avoid}

    thead {display: table-header-group}

    tr, img {page-break-inside: avoid}

    img {max-width: 100% !important}

    p, h2, h3 {orphans: 3;widows: 3}

    h2, h3 {page-break-after: avoid}

    .site-header, .breadcrumb-cont, .footer-nav {display: none}

    .footer-social-link {display: block}

    .site-content {margin-top: 0 !important}
}

/*# sourceMappingURL=style.css.map */
